[2021-09-16 17:12] rachelsater commented on #2165
agreed

[2021-09-16 17:12] #2165 closed

[2021-09-16 17:22] rachelsater commented on #1824
@mmcgowanBOS Can you please review this and let Alex and I know if it can be pushed to Prod?

[2021-09-16 19:11] mmcgowanBOS commented on #1824
This looks good to me. The only comment I would make would be on the button itself. My vote would be for it to read "Show all events" rather than "show Boston events". @carolinestj , any final comments design wise?

[2021-09-16 20:05] carolinestj commented on #1824
@rachelsater @mmcgowanBOS how about something like this? I think Radio buttons make more sense in this instance and is more clear? but what do you think?

<img width="1259" alt="Screen Shot 2021-09-16 at 16 04 19" src="https://user-images.githubusercontent.com/22770827/133678466-fad58d99-cc34-4796-bc71-b9fd943fcdbb.png">

[2021-09-20 14:52] padora-cob commented on #1063
This is ready for review on CI: https://d8-ci.boston.gov/departments/parking-clerk

Here is the current state on PROD: https://www.boston.gov/departments/parking-clerk

[2021-09-20 14:57] rachelsater commented on #1063
@carolinestj Can you please test this and let us know how it looks?

[2021-09-20 15:05] rachelsater commented on #1063
@carolinestj thank you!

[2021-09-20 16:15] duffy-james commented on #1063
@rachelsater This looks great! We should be able to move this one forward.

[2021-09-20 16:18] rachelsater commented on #1063
@duffy-james great - thanks! @padora-cob feel free to move this to Prod when you have time

[2021-09-20 19:08] padora-cob commented on #1824
The changes are now ready to review on CI: https://d8-ci.boston.gov/my-neighborhood?p2

Please see above comment for available addresses that are loaded on CI. Note that there will not be many local events as the CI DB has not been updated from PROD for a while.

Pleases let me know if anyone has any questions or concerns.

[2021-09-20 19:11] rachelsater commented on #1824
@duffy-james can you please review this ticket and let me know if it's good for Prod?

[2021-09-20 20:13] mmcgowanBOS opened #2182 "Assessing Online - Updates"
- Add 3 scenarios for user to search near Search Bar text field
 1. 500 Boylston St
 2. 50 Blue Hill Avenue
 3. 352 Blue Hill Ave Apt # 3

- Trim search string at beginning and end

- Explode / Split search string into 3 parts
   1.  Street number | First
   2. Street name and/or anything before the end of string | Second
   3. Suffix part of string (i.e. Ave, Circle, St, Blvd)

- Check search str

[2021-09-22 11:36] duffy-james opened #2184 "Adjust permissions for content authors / editors"
It looks like content authors and editors are unable to search for and find content in a "draft" or "needs review" moderation state when searching "all recent content", or viewing on their personal workbench. A few content authors have reached out recently saying they were having trouble viewing their content.

Not sure if this issue always existed, or if it was introduced recently. Either way, we

[2021-09-22 13:22] padora-cob commented on #2184
@duffy-james @mmcgowanBOS, I can take a look if you like, I think I know what it could be. Just let me know.

[2021-09-23 01:13] mmcgowanBOS commented on #2184
Alex, that would be great. If you have a moment and can take a look, I'd
appreciate it.

On Wed, Sep 22, 2021, 9:22 AM Alex Dora ***@***.***> wrote:

[2021-09-23 12:19] duffy-james opened #2186 "Add "last updated" to "updated" date in "posts""
In our "article", "program/initiative", and "event" content types, we have a date that gets displayed at the top right of the page with the "updated" date, basically, the last time the page was edited, saved, and published:

![image](https://user-images.githubusercontent.com/7929556/134505637-5493c1ec-4809-4c5d-9edf-c8086c1ba536.png)

That date comes from here in Drupal:

![image](https://user-ima

[2021-09-23 12:37] rachelsater commented on #648
@padora-cob is this on production or not yet?

[2021-09-23 12:58] rachelsater commented on #1824
@duffy-james can you please review this ticket and let us know if it's good for Prod?

[2021-09-23 13:17] mmcgowanBOS commented on #1824
If no one else weights in...I'm good with this going to prod.

[2021-09-23 13:19] rachelsater commented on #1824
works for me

[2021-09-27 12:15] duffy-james opened #2189 "Image in "body" of "article""
The image on this [Parks Department project page](https://www.boston.gov/departments/parks-and-recreation/improvements-mcgann-playground) looks fine on desktop, but on mobile, the image is appearing below the sidebar:

[2021-09-27 12:18] #2189 closed

[2021-09-27 18:23] padora-cob commented on #2184
@duffy-james @rachelsater, This is ready to review on CI. Let me know if you need a one time login link.

[2021-09-28 14:29] padora-cob commented on #2148
@subaha-cob, This was that ticket that I was talking about yesterday, I think it just needs a variable updated in Patterns.

[2021-09-28 16:21] duffy-james opened #2191 "Title stretching over "show" and "hide" in drawers on "how-to" pages on mobile"
This is a mobile-only issue. The "tab title" field is bleeding over into the "show" and "hide" option in the drawers in the ["get married in Boston" page](https://www.boston.gov/departments/registry/how-get-married-boston):

![how-to-mobile](https://user-images.githubusercontent.com/7929556/135126166-97f7e4f3-9039-4e31-8604-2e2d906c39ad.png)

It seems like we just need to resize the text. I tested

[2021-09-28 16:23] padora-cob commented on #2191
Do we know what we would like the mobile to look like? Maybe a question for @carolinestj or @sebastianebarb?

[2021-09-28 16:40] duffy-james commented on #2191
Definitely defer to them, but I as thinking bottom rand-hand side of the button?

I think we'd need to set a character limit on that going forward as well, because it definitely won't look right breaking to a second line.

[2021-09-29 11:00] duffy-james opened #2192 "Remove extra <hr> rule in sidebar of "department profile" content type"
In the sidebar of our department pages, under the hours in the sidebar, there's an extra hr rule:

![image](https://user-images.githubusercontent.com/7929556/135255476-73c6d354-9374-416e-8d6c-761eacbbc949.png)

I believe we flagged this before, but I can't find a ticket. We should have one of those extra hr rules removed.

I'm pretty sure because the "Contact" information is separate in the depart

[2021-10-14 14:15] #2168 closed

[2021-10-14 14:44] #1846 closed

[2021-10-15 11:31] duffy-james opened #2205 "Apostrophe error in "Events and Notices" component - S"
When a user creates an "event" in Drupal and uses an apostrophe in the title, it displays code in the title of our "Events and Notices" component:

![image](https://user-images.githubusercontent.com/7929556/137479464-e17ebc3c-3b28-4755-89a1-a8acf2d02a89.png)

I placed an events component at the bottom of the [Digital Team page on staging](https://d8-stg.boston.gov/departments/digital-team) so you

[2021-10-19 19:49] mmcgowanBOS opened #2207 "Move button below map section."
something here.

[2021-10-25 18:09] stephaniemar opened #2209 "test"
test

[2021-10-26 14:49] stephaniemar opened #2212 "Project Issue 1"
This is where the issue description/acceptance criteria might go

[2021-10-26 14:59] stephaniemar opened #2213 "Initial Design waiting on Approval from DoT."
Submitted initial prototype for tool design. Waiting on feedback.

[2021-10-26 16:58] stephaniemar opened #2215 "Project Issue 2"

[2021-10-26 17:02] stephaniemar opened #2216 "Project Issue 3"
Acceptance Criteria:

[2021-10-27 14:47] duffy-james opened #2218 ""Transactions grid" component display broken on "how-to" pages"
The display doesn't line up properly in the "transactions grid" component on our how-to pages:

![image](https://user-images.githubusercontent.com/7929556/139088943-06f093c1-e37b-4675-994d-d6c4db38e22b.png)

[Here's a link on staging](https://d8-stg.boston.gov/how-respond-eviction) where you can see the display issues. We probably need to test out the different components on our how-to pages at th

[2021-10-29 18:09] subaha-cob commented on #778
@rachelsater currently on uat V
https://d8-uat.boston.gov/

[2021-10-29 19:28] rsater-storycorps commented on #778
@subaha-cob It looks like the margins are blown out

![image](https://user-images.githubusercontent.com/84156441/139491466-45b37e2f-2550-4f44-8f30-2ec4aa33cba2.png)

[2021-11-01 17:49] rachelsater commented on #1771
#1681

[2021-11-01 17:50] rachelsater commented on #1681
#1771

[2021-11-02 18:10] rachelsater opened #2228 "Meeting recordings copy change"
Posting meeting recordings still says "View WebEx Recording" even though we are using Zoom now.

[2021-11-02 18:11] rachelsater opened #2229 "Add DO title"
Website update doesn't carry DO's title, it just says "Project Manager"

[2021-11-02 18:13] rachelsater opened #2230 "Apostrophe missing"
Apostrophe doesn't carry over in website updates (https://www.boston.gov/buildinghousing/30-westville-st)

[2021-11-02 18:14] rachelsater opened #2231 "SF taking 16+ hours to update"
SF taking 16+ hours to update

[2021-11-02 18:15] rachelsater opened #2232 "Search for vacant parcels/ undeveloped parcels"
There should be a filter/a way to search for vacant parcels and/or parcels that aren't yet developed

[2021-11-03 15:32] rachelsater opened #2235 "Edit Chatter Feed in Salesforce"
There is not a way to edit a text update in the chatter feed in salesforce.

Steps to reproduce:

- Delete the old one to repost a modified version
- The new version showed up after the editing/resaving trick, but the old post is still showing on buildinghousing even though it is removed in SF.

[2021-11-04 14:59] stephaniemar commented on #2213
Met with Alaa on 11/5 to review comments in this doc:https://docs.google.com/document/d/1J1NzP1Lx_Il9z6FuInP5DGV8UEJyLYZ93Q7kL3N2A0w/edit

Here are my takeaways and next steps to move the project forward:
Must haves to be added to prototype design:

- Update language in prototype to match what is currently in Excel Tool - Mary indicated some of this language has already been updated based on Alaa'

[2021-11-04 15:54] rachelsater opened #2236 "Shift the order of the pictures showing on the project page"
Old designs are showing up before updated construction or completion photos. Would be great if the more recent photos could be the thumbnails.

[2021-11-05 15:26] stephaniemar opened #2238 "Beta user testing of tool prototype"
Once the tool is developed in a test environment, we can schedule user testing for feedback.

[2021-11-05 15:34] stephaniemar opened #2239 "Test plan for beta user testing"

[2021-11-05 20:26] rachelsater opened #2241 "Audit site for screen reader compatibility, ID small changes that improve that UX"

[2021-11-08 17:51] rachelsater opened #2242 "Rotate images"
We need a way to rotate an image. An example of a tilted image is here https://www.boston.gov/buildinghousing/uhomes-90-antwerp-street

[2021-11-09 21:58] rachelsater opened #2244 "Comment text duplication"
Jamie's comment text seems to have duplicated itself on the BH website. https://www.boston.gov/buildinghousing/parker-and-terrace

[2021-11-14 09:55] het-t opened #2245 "flaws in e-mail service at https://www.boston.gov/departments/mayors-office#cabinet-heads"
# Fatal flaw in e-mail sending
[https://www.boston.gov/departments/mayors-office#cabinet-heads](url) webpage provides service to send email to individual staff member and it has some fatal flaws which can put the whole website in danger.

## Service which allows user to send an e-mail and its flaws :

![Screenshot (12)](https://user-images.githubusercontent.com/89692764/141672670-f72c924d-2c74-4f0

[2021-11-16 17:04] padora-cob commented on #2089
This is ready for review on CI: https://d8-ci.boston.gov/buildinghousing/61-65-woodrow-ave
vs.
https://www.boston.gov/buildinghousing/61-65-woodrow-ave

[2021-11-16 18:04] padora-cob commented on #1763
Ready to test on CI: https://d8-ci.boston.gov/buildinghousing/boylston-street-potential-open-space
and
https://d8-ci.boston.gov/buildinghousing/61-65-woodrow-ave

[2021-11-16 18:30] padora-cob commented on #2078
Ready to test on CI: https://d8-ci.boston.gov/buildinghousing/150-river-street
vs.
https://www.boston.gov/buildinghousing/150-river-street

[2021-11-16 19:00] padora-cob commented on #1971
This should be ready to test on CI.

[2021-11-16 19:21] padora-cob commented on #2077
Ready to test on CI.

[2021-11-16 20:48] rachelsater commented on #2218
@padora-cob It looks like there are a few issues with this one.

1. the Eviction Resources box isn't as wide as the other page modules
![image](https://user-images.githubusercontent.com/72876352/142063059-fd5b0efe-2764-4414-bf5e-415681557322.png)

2. It looks like the title is right up against the grey box. There should be some padding between the box and the title.
![image](https://user-images.gi

[2021-11-16 20:50] padora-cob commented on #2218
@rachelsater, could please you make a new ticket for those other issues? Thanks!

[2021-11-16 20:58] rachelsater opened #2253 ""How-to" pages updates - S"
1. the Eviction Resources box isn't as wide as the other page modules
![image](https://user-images.githubusercontent.com/72876352/142063059-fd5b0efe-2764-4414-bf5e-415681557322.png)

2. It looks like the title is right up against the grey box. There should be some padding between the box and the title.
![image](https://user-images.githubusercontent.com/72876352/142063134-fa24cb09-9bcb-4849-82b6-77

[2021-11-16 21:55] rachelsater commented on #2078
@padora-cob Sorry I don't know what I'm looking for when I'm testing

[2021-11-17 14:46] rachelsater commented on #2006
@padora-cob how do I test this one? Should I go into SF?

[2021-11-17 14:50] rachelsater commented on #1926
@padora-cob Is there a page I can test this one? I don't see JPGs on the 140 Claredon page and I don't see any on other pages either

[2021-11-17 15:33] rachelsater commented on #1763
after talking to Alex, this ticket is good to go to Prod. The fonts in the mock up is different from the live site so they won't match exactly

[2021-11-17 15:41] rachelsater commented on #2228
"View WebEx Recording" should be "View Meeting Recording"

[2021-11-19 20:58] rachelsater opened #2257 "Change how archived projects are displayed"
For any project that is 2 years old from completion date, we want to remove the contact info and “keep me up to date” form

[2021-11-22 19:31] stephaniemar opened #2259 "UI Design Proposal"

[2021-11-22 19:32] stephaniemar opened #2260 "Test Plan for Beta user testing"

[2021-11-22 19:32] stephaniemar opened #2261 "Beta user testing of tool prototype"

[2021-11-22 19:52] stephaniemar opened #2262 "task"

[2021-11-23 20:46] rachelsater commented on #1809
We decided to display a "Read More" button if there are more than 1900 characters in the Project Goals section

[2021-11-23 21:11] rachelsater opened #2263 "Rethink the BuildingHousing map page"
This is the overarching ticket for any ticket related to the BuildingHousing map page(s) and its functionality.

- Projects with Meetings Pinned in List View #1769
- Include project photos in list view #1875
- Filter list view by keyword search #1871
- Display icon legend on map overlay #1947
- Project Stage Search Facet for Map #1658

[2021-11-29 21:19] mmcgowanBOS opened #2268 "Latest Search criteria updates"
- Allow for street name searches like "A st" or "D ST"

- Update Helper text HTML markup (see attached)
https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax

- Update search queries to account for numeric street names like "2nd" or "3rd" to be converted to "second" and "third" respectively

[search_helper_html.tx

[2021-11-30 16:15] phillipbentonkelly commented on #2268
@mmcgowanBOS results for 'A St' work but not for 'D St'.

- A St: https://d8-dev2.boston.gov/sql/assessing/lookup?street_name_only=A&street_suffix=ST&sort=[%22street_name%22,%22street_number%22]
- D St: https://d8-dev2.boston.gov/sql/assessing/lookup?street_name_only=D&streeta_suffix=ST&sort=[%22street_name%22,%22street_number%22]

[2021-11-30 18:10] mmcgowanBOS commented on #2268
OK. I can see the issue.

I just added a condition that should check for single alpha street names and that seems to have fixed it. I deployed to Dev2 Acquia environment.

[2021-12-02 18:59] rachelsater opened #2273 "JPG files still appearing in the timeline"
JPG files are still appearing in the timeline https://www.boston.gov/buildinghousing/37-wales-street

[2021-12-02 19:01] rachelsater opened #2274 "Pictures in the Photos section are appearing multiple instances"
The same photos are appearing multiple times in the Photos section.

Steps to reproduce:
1. Go to https://www.boston.gov/buildinghousing/37-wales-street
2. Click on 10 Photos
3. Scroll through the images. The same 2 pictures appear 5 times

[2021-12-03 17:02] davidrkupton opened #2275 "Migrate No Tow to boston.gov"
Migrate the legacy no tow application (frontend and backend) from cityofboston.gov to boston.gov.
@see [gitbook docs](https://docs.boston.gov/digital/projects/architecture)

[2021-12-03 17:03] davidrkupton opened #2276 "Migrate No Tow Backend"
CityOfBoston/cityofboston.gov#6

[2021-12-03 18:47] davidrkupton opened #2277 "TDM Points"
Transportation points form.

[2021-12-13 16:39] #2277 closed

[2021-12-13 17:08] stephaniemar opened #2280 "Design Approval from Dept of Transportation"

[2021-12-14 18:38] stephaniemar opened #2282 "New task"

[2021-12-14 20:08] stephaniemar opened #2283 "Task 1"

[2021-12-14 20:14] stephaniemar opened #2284 "Task 5"

[2021-12-15 15:46] subaha-cob commented on #1169
Check UAT for solution https://d8-uat.boston.gov/

[2021-12-15 15:47] subaha-cob commented on #1024
Won't fix.

[2021-12-15 15:47] #1024 closed

[2021-12-15 16:07] subaha-cob commented on #2102
Currently on: https://d8-uat.boston.gov/departments/innovation-and-technology

[2021-12-15 19:11] stephaniemar opened #2285 "Functionality of the TDM Points form"

[2021-12-15 19:13] stephaniemar commented on #2285
Backend functionality to match UI TDM Form design

Form Link: https://d8-ci.boston.gov/form/tdm-points-tool

[2021-12-16 18:32] rachelsater commented on #1964
closing this ticket as it's no longer needed

[2021-12-16 18:32] #1964 closed

[2021-12-16 19:03] stephaniemar commented on #2285
- [ ] All wizards are working
- [ ] Form navigation works for the user(Next/Previous buttons, Edit links)
- [ ]  Drop down menus are functional
- [ ] Check boxes are functional
- [ ] Strategy drawers on review screen is functional
- [ ] Points selections are working
- [ ] Target score calculations are working
- [ ] Application data and scores are saved for submission to BTD and Filer
- [ ]

[2021-12-16 20:06] rachelsater commented on #1762
closing this ticket as it was decided not to present an affordability pie chart on the site

[2021-12-16 20:06] #1762 closed

[2021-12-16 20:07] rachelsater commented on #1771
@carolinestj Have you seen the Metrolist creative in XD? DND wants to add it to their site but I couldn't find it anywhere!
![image](https://user-images.githubusercontent.com/72876352/146441816-1ee45823-d257-4e35-a3fe-e88e0a873a8d.png)

[2021-12-16 20:13] carolinestj commented on #1771
See if you can access this! https://drive.google.com/file/d/1KOI1aWePz2iL3j2NDaXspZ-RYoRHEEjw/view

[2021-12-16 20:28] rsater-storycorps commented on #1771
@carolinestj wow! thank you! I didn't see the XD mockup file though. Is it there and I missed it?

[2021-12-17 15:16] carolinestj commented on #1771
@rachelsater yes that whole link is the XD files so just download it and it should all be there!

[2021-12-17 15:52] subaha-cob commented on #2148
Currently on UAT:
https://d8-uat.boston.gov/departments/digital-team/test-page

[2021-12-17 15:53] subaha-cob commented on #2167
Currently on UAT:
https://d8-uat.boston.gov/departments/digital-team/test-page

[2021-12-17 17:04] rachelsater commented on #2167
@duffy-james I think it's still wide but what are your thoughts?

[2021-12-17 17:08] rachelsater commented on #2148
@subaha-cob looks good! thank you!

[2021-12-17 17:08] rachelsater commented on #1771
@carolinestj thank you!!! @padora-cob the mock up is ready for you!

[2021-12-17 18:42] subaha-cob commented on #778
Please test again on UAT:
https://d8-uat.boston.gov/departments/public-works/street-sweeping-city

[2021-12-17 18:54] rachelsater commented on #1169
@subaha-cob looks good to me! @duffy-james whatcha think?

[2021-12-17 18:55] rachelsater commented on #2102
@subaha-cob looks good to me! @duffy-james do you agree?

[2021-12-17 19:37] rachelsater commented on #778
@subaha-cob way better! thank you!

[2021-12-20 18:54] stephaniemar opened #2296 "TDM Points Blanket UI functionality"
As a user I should see certain UI functionality across the TDM Points Form.

Acceptance Criteria for UI across the entire form

- [ ] The user sees the following at the bottom of every screen - Questions? Email the Department of Transportation at btd@boston.gov ( the email should be clickable

- [ ] The user sees a progress bar on the top of each screen under the Transportation Demand Management T

[2021-12-20 18:55] stephaniemar opened #2297 "Step 1: Intro Screen UI"
**Acceptance Criteria for Step 1: Intro screen**

- [ ] As a user I will start my application with Step 1: Filer information

- 	After the user clicks the begin application button on previous screen they will navigate to the Step 1 screen: Filer Information
- 	The user will see a progress bar at the top of the screen indicating which step they are on as they fill out their application (e.g. 1 of 6

[2021-12-20 18:55] stephaniemar opened #2298 "Step 2: Land Information Screen UI"
**Acceptance Criteria for Step 2: Land Information Screen**

- [ ] As a user I see my Mobility and Target Scores imbedded in the top banner of the screen

- [ ] As a user I see the progress bar at the top of the screen move to Step 2 of 6
- 	The progress bar is on top of each screen of the application and shows user the what step they on are on in their application. In this case the user is on Ste

[2021-12-20 18:55] stephaniemar opened #2299 "Step 4: Baseline Strategies(Required) UI"
**Acceptance Criteria for Step 4 : Baseline Strategies**

- [x] As a user I should see my Mobility, Target and Current scores imbedded in the top banner of the screen.

- 	The Mobility and Target Score are static scores, the current score changes as the the user moves through the application

- [x] As a user I should see the progress bar at the top of the screen move to Step 4 of 7

- 	The progres

[2021-12-20 18:55] stephaniemar opened #2300 "Step 5: Impact Strategies UI"
**Acceptance Criteria for Step 5 : Impact Strategies**

- [x] As a user I should see my Total and Target scores imbedded in the top banner of the screen.

- 	The Target Score is a static score, the total score changes as the the user moves through the application

- [x] As a user I see the progress bar at the top of the screen move to Step 5 of 6

- 	The progress bar is on top of each screen of th

[2021-12-20 18:55] stephaniemar opened #2301 "Step 6: Elective Strategies UI"
**Step 5: Elective Strategies Acceptance Criteria**

- [x] As a user I should see my Mobility, Target and Current scores imbedded in the top banner of the screen.

- 	The Mobility and Target Score are static scores, the current score changes as the the user moves through the application

- [x] As a user I see the progress bar at the top of the screen move to Step 5 of 6
- 	The progress bar is on t

[2021-12-20 18:55] stephaniemar opened #2302 "Step 7: Review Information UI"
**Step 6: Review Information Acceptance Criteria**

- [x] As a user I see the progress bar at the top of the screen move to step 7 of 7

- 	The progress bar is on top of each screen of the application and shows user what step they on are on. In this case the user is on Step 7 of 7.

- [x] As a user I see the title of this Step so I know which step in the application I am on

- 	User sees Step 7: R

[2021-12-20 18:55] stephaniemar opened #2303 "Submitted Application Screen UI"
**Submitted Application Screen Acceptance Criteria**

- [x] As a user I see the Application Submitted screen to indicate my application has been submitted.

- 	The user sees the application submitted language including that the application information has been send to their email address. Email templates here: https://github.com/CityOfBoston/boston.gov-d8/issues/2358

- 	The user sees a blue click

[2021-12-20 18:59] stephaniemar opened #2304 "Intro Screen UI"
**Acceptance Criteria for Filer Information screen**

- [ ] As a user I want to easily navigate to the Transportation Demand Management (TDM) Point System Tool on Boston.gov to start my TDM Application as part of the development review process

- **Need URL for the tool (Q)**

- 	User navigates to TDM Tool intro screen on Boston.gov --  Dept of Transportation> Transportation Development review> TD

[2021-12-21 13:17] stephaniemar opened #2305 "Initial UI design for new workflow on Boston.gov"

[2021-12-21 19:43] rachelsater commented on #1771
@carolinestj They want to change the copy from “New units available. Explore housing opportunities on Metrolist.” to “ Explore affordable housing opportunities on Metrolist.” Is that something you update or the developer makes that change?

[2021-12-21 20:25] stephaniemar opened #2307 "Acceptance Criteria - New ID Verification Workflow"
**Acceptance Criteria for New ID Verification Workflow**

- [x] As a user I see a link from the Access Boston portal  under Support Tools to navigate to the new Employee verification workflow
- Users will see the new link listed under support tools
- Link name : Identity Verification (for non-integrated) **(?)**
- Only users within a certain security group will see this link **(need security group

[2021-12-21 20:55] carolinestj commented on #1771
@rachelsater I believe a developer would make that change since it's just copy, if they don't have edit access themselves

[2021-12-21 21:07] rachelsater commented on #1771
@carolinestj great thanks!

[2021-12-22 16:17] #2284 closed

[2022-01-10 19:36] stephaniemar opened #2316 "TDM Points App"
**Project Manager:** Stephanie Cariello
**Stake Holder:** BTD - Ala Mukahhal
**Primary Dev:** Stella Ubaha
**Secondary Dev:**
**UI:**Caroline Stjarnborg, Mary Kanu
**URL:** https://www.boston.gov/departments/transportation/transportation-demand-management-tdm-point-system
**Brief Description:** Convert Current TDM Points Tool, down loadable excel sheet, to an app on Boston.gov

[2022-01-10 19:36] stephaniemar opened #2356 "TDM Points App"
**Project Manager:** Stephanie Cariello
**Stake Holder:** BTD - Ala Mukahhal
**Primary Dev:** Stella Ubaha
**Secondary Dev:**
**UI:**Caroline Stjarnborg, Mary Kanu
**URL:** https://www.boston.gov/departments/transportation/transportation-demand-management-tdm-point-system
**Brief Description:** Convert Current TDM Points Tool, down loadable excel sheet, to an app on Boston.gov

[2022-01-12 16:12] stephaniemar commented on #2285
Stella in process of debugging current backend:

https://d8-ci.boston.gov/form/tdm-points-tool?page=3

[2022-01-13 17:32] subaha-cob opened #2317 "Site Review of Breakpoints - L"
Review site-wide CSS Breakpoints for consistency.

[2022-01-13 17:35] subaha-cob opened #2318 "Site-wide review of whitespaces - M"
Review whitespaces sitewide.

[2022-01-18 14:30] duffy-james opened #2324 "Styling of backend and frontend doesn't match"
Users should see consistent styling on the back- and front-end of the website, but there appear to be some minor padding / spacing issues, especially with the "formatted text" component. Examples below are from the [B Together page](https://www.boston.gov/departments/mayors-office/introducing-b-together).

Back-end (columned layout is tight together):

![image](https://user-images.githubuserconten

[2022-01-18 16:47] ugintl opened #2325 "Public use of City of Boston Copyright material"
Can I use it for a client project?

[2022-01-18 17:16] davidrkupton commented on #1144
this may be helpful: I used this with the date_recur component in site alerts: /home/david/sources/boston.gov-d8/docroot/modules/custom/bos_components/modules/bos_messages/src/Plugin/Field/FieldWidget/MODRecurWidget.php

[2022-01-19 15:48] subaha-cob commented on #2285
I have updated some of the checkboxes above. Still needs to be verified though.

[2022-01-19 15:57] stephaniemar commented on #2285
Also, I hope to hear back from Alaa soon. She is working on those questions
I sent her.

[image: COB_B_Blue_square-01.png]

Stephanie Cariello (She/Her)

Product Manager, Digital Team

Department of Innovation & Technology, City of Boston

617-635-3922 (w), 413-441-5514 (c)

***@***.***

On Wed, Jan 19, 2022 at 10:54 AM Stephanie Cariello <
***@***.***> wrote:

[2022-01-20 18:21] subaha-cob commented on #2285
Moving forward we are going to be using this link to test TDM. I switch the environment over to UAT.

https://d8-uat.boston.gov/form/tdm-points-tool

[2022-01-20 18:36] subaha-cob commented on #2285
There is currently a bug in the "Menu", it is overlaying the top menu and overlapping the input boxes (though not visible). When you click on the input boxes at the beginning it takes you to another page.

Fixing that now.

<img width="1440" alt="Screen Shot 2022-01-20 at 1 35 25 PM" src="https://user-images.githubusercontent.com/57374913/150400878-cdb6cf55-62cb-40fb-8feb-96465c370e23.png">

[2022-01-24 15:55] subaha-cob commented on #2285
@stephaniemar changes to fix the bug above is now live on UAT!

https://d8-uat.boston.gov/form/tdm-points-tool

[2022-01-25 16:34] stephaniemar opened #2329 "put Cyberark onto Access Boston Portal"
timeframe for rollout is March 1
Small set of internal (DoIT) users so can be anytime of the day
Icon done already (another lock)
Will get you the Prod URL shortly
And the security group who will see this icon

[2022-01-26 16:31] subaha-cob opened #2330 "Code error for bos_list component"
Local environment version is throwing loads of errors:

`Notice: Undefined index: #title in bos_list_preprocess_form_element() (line 215 of modules/custom/bos_components/modules/bos_list/bos_list.module).`

Update code with:
`if ($variables['element']['#title'] != NULL && .... )`

[2022-01-26 16:32] subaha-cob commented on #2330
` if (isset($variables['element']['#title']) && strtolower($variables['element']['#title']) === 'search' || $variables['element']['#attributes']['id'] === "edit-title") { ... }`

[2022-01-26 17:11] davidrkupton commented on #2330
actually there is another issue.  This is the current fix:
 ```if ((isset($variables['element']['#title']) && strtolower($variables['element']['#title']) === 'search') || (isset($variables['element']['#attributes']['id'] ) && $variables['element']['#attributes']['id'] === "edit-title")) {```

[2022-02-01 16:44] stephaniemar opened #2332 "Obtain API Files from IAM team"
@phillipbentonkelly received the API documentation from Sundeep. He will review and follow up with any open questions.

https://developer.sailpoint.com/apis/iiq/#operation/list10

[2022-02-01 16:47] stephaniemar commented on #2305
This UI design was approved by Gretchen of the Access Boston team

[2022-02-04 20:12] mattl opened #2334 "Old versions of the site are public and leaking [recheck May 2022]"
ie. https://d8-ci.boston.gov -- is coming up in search results and has the previous acting mayor's name at the top, etc.

[2022-02-07 16:40] stephaniemar opened #2337 "Registry Redeploy"
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description:

- Rewriting registry to use Drupal text stack
- Move from Stripe to invoice cloud

[2022-02-07 16:41] stephaniemar opened #2338 "Deconstruct the monorepo"
**Lower Priority**
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description:

[2022-02-07 16:41] stephaniemar opened #2339 "Review & Update data collection/management for MNL"
Lower Priority
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description: Backend work on reviewing how we get data from Civis.

[2022-02-08 13:13] stephaniemar opened #2340 "Update React Javascript dependencies in Drupal"
This work is to do  maintenance to do on the Drupal-based webapps

[2022-02-08 15:01] duffy-james opened #2341 "Thumbnail image stretched on tablet screen size in "news" component"
A user flagged for us that the thumbnail image is stretched on smaller screen sizes and tablet screen sizes in the "news and announcements" component. Example here on the [Archives homepage](https://www.boston.gov/departments/archives-and-records-management):

![image](https://user-images.githubusercontent.com/7929556/153012865-25e8a439-f9b2-4c39-a9b5-d7c6ec221fd1.png)

At the 1300 px width breakp

[2022-02-08 15:50] duffy-james opened #2342 "Apostrophe displaying character error in "events and notices" component"
The apostrophe in the events and notices component displays the character code -- &#039; --  instead of an apostrophe:

![image](https://user-images.githubusercontent.com/7929556/153023633-acaef92d-dae2-4465-81af-f3680dcf5880.png)

Example here is from the [Winter Express page](https://www.boston.gov/civic-engagement/boston-winter-express).

I believe this is a bug that was addressed before, maybe

[2022-02-08 16:25] duffy-james opened #2343 "Font error text of "how-to contact step" section"
On "how-to" content types in Drupal, a user is given the option to add a "how-to contact step". It provides some introductory text and then contact-specific information. Here's what it looks like in the back-end:

![image](https://user-images.githubusercontent.com/7929556/153029975-9e23a1a8-19f3-4801-b933-c4bacbe3870b.png)

Since the latest legacy CSS update, the text above is no longer displaying

[2022-02-08 19:22] duffy-james opened #2344 "Bullets missing in backend display of Drupal"
When a user adds an unordered list in the WYSIWYG field in Drupal, the bullets are missing for the user.

Backend view:

![image](https://user-images.githubusercontent.com/7929556/153059857-5fa571b6-e870-4f03-a53e-b33337afd517.png)

Frontend view:

![image](https://user-images.githubusercontent.com/7929556/153059896-276c0154-0918-44bb-95b0-cec7757da353.png)

We need to bring back the bullets so us

[2022-02-08 21:37] duffy-james opened #2345 ""Formatted text" component issue at bottom of page"
A user noticed that on the [Housing Stability page](https://www.boston.gov/departments/housing/office-housing-stability), the "formatted text" component is taking up the full with of the page instead of staying within the container of the components:

![image](https://user-images.githubusercontent.com/7929556/153079573-a241b64e-05d1-41ee-8b26-0974b476814f.png)

Couldn't figure out what was happeni

[2022-02-11 13:44] duffy-james opened #2347 "Bold and italics don't work together on front-end display"
When a user attempts to bold and italicize text in the backend of Drupal through the WYSIWYG field, it looks correct in the "edit" version of the page:

![image](https://user-images.githubusercontent.com/7929556/153601314-52fb8a95-9213-471d-ae7f-0155f7636a93.png)

But, when you save and view the draft, or publish, it looks like the "bold" is being removed from the text:

![image](https://user-imag

[2022-02-11 13:50] duffy-james opened #2348 "Logos not resizing / too big on "programs / initiatives" content type"
In the "programs / initiatives" content type in Drupal, a user has the option to add a logo to their page under "additional information":

![image](https://user-images.githubusercontent.com/7929556/153602537-c2eebd30-e386-4723-ba2a-b3a07b133e46.png)

The logo should be resizing and fitting the width of the sidebar component on the page, but instead, it's displaying its full width on the site:

![i

[2022-02-11 13:59] duffy-james opened #2349 "Boston.gov news listing page forcing title case on "post" titles"
On the [Boston.gov news listing page](https://www.boston.gov/news), the titles of the "posts" on the page all appear to be forcing title case in the display, where each word in the title of each "post" has a capital letter:

![image](https://user-images.githubusercontent.com/7929556/153603864-a443e190-2a46-48f3-8259-b75378143f50.png)

Here's what the top two posts look like in the backend:

![imag

[2022-02-11 14:16] duffy-james opened #2350 "Adding only "description" text to "grid of links" components breaks display"
When a user adds a "group of links - grid" or "group of links - list" component, they're given options to add a "subheader" and "description" text. If they just add "description" text (no subheader), like this:

![image](https://user-images.githubusercontent.com/7929556/153606380-d953bf36-e450-41e3-9064-6b608144ed1d.png)

It breaks the display on the website. The boxes get pushed to the left and t

[2022-02-11 14:29] duffy-james opened #2351 "Spacing issues in sidebar components of content types"
When a user adds text to a sidebar component, the spacing on the backend and front are not consistent. For example, [on this ERG page on the website](https://www.boston.gov/equity-and-inclusion/asian-pacific-islander-american-employee-resource-group), I had to add extra spacing to make the display work on the front-end.

Here's the back-end:

![image](https://user-images.githubusercontent.com/7929

[2022-02-11 14:53] duffy-james opened #2352 "Make CSS consistent / the same on back-end and front-end"
Discussed this with @subaha-cob briefly after the latest CSS update, but there are spots on Boston.gov where the CSS isn't consistent. The most obvious spot is with the "formatted text" component.

On the back-end, the columned layout appears to squeezing the text together, but it looks fine on the front-end display.

Back-end display:

![image](https://user-images.githubusercontent.com/7929556/15

[2022-02-11 16:13] #640 closed

[2022-02-11 16:18] stephaniemar commented on #322
Estimated about  1 weeks worth of work for this.

[2022-02-11 16:22] #607 closed

[2022-02-11 16:24] #653 closed

[2022-02-11 16:31] #716 closed

[2022-02-11 16:32] stephaniemar commented on #774
Permissions issue

[2022-02-11 16:39] #1082 closed

[2022-02-11 16:42] stephaniemar commented on #1089
Drupal - 9

[2022-02-11 16:56] stephaniemar commented on #1169
Hey @carolinestj do you have any thoughts on this?

[2022-02-11 16:58] #1195 closed

[2022-02-11 16:59] #1200 closed

[2022-02-11 17:10] #1388 closed

[2022-02-11 17:23] carolinestj commented on #1169
If we could make all instances of the text look white when it's on a photo that would be best, see screenshot 1 for example

The blue text with the white is really wonky looking and not on brand and probably very hard to read, see screenshot 2 for example

![screenshot 1](https://user-images.githubusercontent.com/22770827/153638450-cb0b685e-9f95-4cfb-a78b-59391221e860.png)
![screenshot 2](https://

[2022-02-11 21:19] subaha-cob commented on #2352
This will take between 2 to 8 hours. Maybe more because I don't know why this is happening at all. I need to try and figure it out.

[2022-02-11 21:21] subaha-cob commented on #2351
I am not sure what this is so I will estimate between 2 - 4 hours.

[2022-02-11 21:21] subaha-cob commented on #2350
This is should take 2 hours to fix.

[2022-02-11 21:22] subaha-cob commented on #2349
This should take 2 hours.

[2022-02-11 21:23] subaha-cob commented on #2348
This will take about 2 hours.

[2022-02-11 21:28] subaha-cob commented on #2347
This should take between 2 -  3 hours.

[2022-02-11 21:29] subaha-cob commented on #2345
This is actually a bug. I need to investigate this to know for sure. but if I have to guess about 4 - 8 hours.

[2022-02-11 21:30] subaha-cob commented on #2344
This should take about 2 hours.

[2022-02-11 21:34] subaha-cob commented on #2343
This will be 4 - 8 hours. Maybe more because the sidebars is very broad.

[2022-02-11 21:36] subaha-cob commented on #2342
I fixed this bug before. Bot sure why it is happening again. This should take about 2 - 4 hours.

[2022-02-11 21:39] subaha-cob commented on #2341
This may need a rewrite. 4 - 8 hours.

[2022-02-14 19:23] stephaniemar commented on #1734
@carolinestj do you know what project this is associated with? if any?

[2022-02-14 19:38] carolinestj commented on #1734
@stephaniemar Think this was for neighborhood lookup and what the prompts would be when entering your address to get accurate results

[2022-02-14 19:41] stephaniemar commented on #1734
Enhancement for this search screen:
https://www.boston.gov/my-neighborhood

[2022-02-14 19:42] stephaniemar commented on #1740
Enhancement for this search:
https://www.boston.gov/my-neighborhood

[2022-02-14 19:53] stephaniemar commented on #1763
this looks like it was done but is in stage? need confirmation on this @rachelsater

[2022-02-14 19:55] rachelsater commented on #1763
correct. it needs to get pushed to the live site still

[2022-02-14 21:09] stephaniemar commented on #1853
This work seems to be complete and in the dev environment

[2022-02-15 14:38] duffy-james commented on #1734
@carolinestj @stephaniemar I imagine this enhancement is similar to the helper text we're adding to Assessing Online.

[2022-02-15 14:43] duffy-james commented on #1740
@stephaniemar As far as I can tell, Matt manually added this information. I don't think this is pulling from a dataset because there is no existing dataset for at-large councilors. Going to close this one out.

[2022-02-15 14:43] #1740 closed

[2022-02-15 14:46] duffy-james opened #2353 "Switch number to "four" in at-large councilor section of "representation" in My Neighborhood Lookup"
In the at-large councilors section of "representation" in the [My Neighborhood Lookup tool](https://www.boston.gov/my-neighborhood?p3), we need to change the number from "three" to "four" at large-councilors:

![image](https://user-images.githubusercontent.com/7929556/154085457-8eba7404-6cc6-44c9-9c04-eadea5763e7f.png)

[2022-02-15 16:47] stephaniemar commented on #1926
This one looks like it was done - Should we close?

[2022-02-15 17:17] stephaniemar commented on #1971
Looks like we can close this

[2022-02-15 17:25] stephaniemar commented on #2006
This looks done -- can we close

[2022-02-15 19:16] stephaniemar commented on #2076
@duffy-james This seems more like a policy suggestion on how to move forward with keeping boston.gov up to date

[2022-02-15 19:56] stephaniemar commented on #2107
@rachelsater What do you want to do with this? Keep it open for now?

[2022-02-15 20:05] rachelsater commented on #2107
nope! let's close it.

[2022-02-15 20:07] #2107 closed

[2022-02-15 20:35] #2207 closed

[2022-02-15 20:36] #2209 closed

[2022-02-15 20:36] #2212 closed

[2022-02-15 20:36] #2215 closed

[2022-02-15 20:36] #2216 closed

[2022-02-15 20:38] #2280 closed

[2022-02-15 21:27] stephaniemar commented on #2245
@duffy-james This seems fairly recent. Has this come up before?

[2022-02-16 15:29] #2259 closed

[2022-02-16 15:31] #2260 closed

[2022-02-16 15:31] #2261 closed

[2022-02-16 15:31] #2262 closed

[2022-02-16 15:35] #2283 closed

[2022-02-16 15:39] stephaniemar commented on #2307
This has been broken down into individual stories based on UI design.

[2022-02-16 15:39] #2307 closed

[2022-02-16 15:42] #2332 closed

[2022-02-16 15:50] stephaniemar commented on #2317
@duffy-james does this belong in CSS project?

[2022-02-16 15:51] stephaniemar commented on #2318
@duffy-james  does this belong in CSS project

[2022-02-16 15:52] stephaniemar commented on #2324
@duffy-james does this belong in the CSS project?

[2022-02-16 15:54] stephaniemar commented on #2325
@davidrkupton @duffy-james Do you know what this is about?

[2022-02-16 16:42] het-t commented on #2245
Sorry but I am not aware about that.

But I have one solution to resolve this issue, can you please guide me I want to work on it ?

[2022-02-16 18:27] davidrkupton commented on #2334
Yes
We should have some no-index directives on those sites/dns.
So keep this ticket.

[2022-02-16 18:29] davidrkupton commented on #2325
I think we need a paragraph on site copyright.
Ideally a page on boston.gov, that we can direct people to when this question arises.

[2022-02-16 21:10] stephaniemar commented on #2298
@subaha-cob @miyekay94 @carolinestj Here are the links to the mobility scores map that Alaa sent over, not sure if you will need to review each one so we can figure out how to use it in the v1 version of the app. Let me know if you want to discuss

- [Part of the web app](https://boston.maps.arcgis.com/apps/webappviewer/index.html?id=42ee367d08f4428a953f0cc09efc2a77)
- [Standalone feature hosted l

[2022-02-17 16:44] stephaniemar opened #2358 "Email Templates for application submission"
As a user once I submit my TDM application, the application details are emailed to the BTD for review and I should receive a confirmation email with all the details of my application attached

- [ ] Submitted applications should go to the following email address: BTDdevelopmentreview@boston.gov
- [ ] Once an application is submitted the filer should receive a confirmation email with all the detail

[2022-02-17 19:35] stephaniemar commented on #2298
Additional Note from Alaa  re Parking Ratios - There is no dependency with /Mobility Score - they do not need to be reflected in the tool. Only BTD needs to worry about these.

[2022-02-22 15:16] stephaniemar commented on #2325
@carolinestj Can you provide a paragraph or two summarizing Sebestian's policy on Copyright of Design icons etc. @duffy-james do you think we should publish the policy on boston.gov? and fleet for the patterns lib?

[2022-02-22 16:04] carolinestj commented on #2325
@stephaniemar here's a blog post that I think Sebastian and James wrote

But basically our code is open source but our brand is copyrighted, so you can't copy our look and feel

[2022-02-23 15:03] #2213 closed

[2022-02-23 15:44] stephaniemar commented on #2325
It seems like we need some language to highlight that on Boston.gov and Patterns. We can defer to @duffy-james on this.

[2022-02-25 18:36] davidrkupton opened #2360 "Abutters Mail generator does not include all addresses"
From Penny Zhang (via Sarah Figalora)

Lastly, some teams in our department who use the [Abutter Mailing List Generator](https://www.boston.gov/abutter-mailing-list-generator) to generate contact addresses for mailings, but they have noticed that the generate does not generate addresses all property owners in various districts. Do you happen to know who manages this generator / website?

**see: ht

[2022-02-28 20:28] stephaniemar commented on #2305
https://xd.adobe.com/view/252ef7d9-9e07-44fc-89f1-bbab5f681f21-707d/screen/c862772c-20ef-454d-ad3a-63d8abf5d013/

[2022-03-02 15:11] stephaniemar opened #2361 "UI Design for No Tow"
We asked the UI team to mock up a design for the Street Sweeping/No Tow Screens on COB- this is not a new design but a migration of the current screens on COB to Boston.gov with the new branding.

You can find the COB screens here:
Street Sweeping Lookup; https://www.cityofboston.gov/publicworks/sweeping/
Alerts: https://www.cityofboston.gov/towing/alerts/
Towed Car Search: https://www.cityofbosto

[2022-03-02 21:34] stephaniemar opened #2362 "Street Sweeping Reminders Look Up (Screen 1)"
Paths from Boston.Gov to Street Sweeping Look up and No - Tow Registration:

1. https://www.boston.gov/departments/public-works#get-started> Click the Street Sweeping lookup and Alerts tile
2. https://www.boston.gov/departments/public-works/street-sweeping-city#street-cleaning-during-the-year > click _the in our database_ link under Sign up for Reminders from the city
3. https://www.boston.gov/dep

[2022-03-02 21:34] stephaniemar opened #2363 "Street Sweeping Reminders Results (Screen 2)"
Once the user initiates a search for Street Sweeping reminders the user will be navigated to a results page based on their search criteria. Search results my yield a list if the search was loosely defined. The user will also be able to sign up for email reminders as well as search for any email reminders they already have.

NOTE: there are no direct paths to this from Boston.gov

**Search Results*

[2022-03-03 18:45] subaha-cob commented on #2285
@stephaniemar Use the following link to access the TDM tool. I added a splash landing page.
https://d8-uat.boston.gov/transportation-demand-management-tool

[2022-03-03 20:22] stephaniemar commented on #2363
Here are examples of the emails users will receive if they look up what reminders they are subscribed to
COB page: https://www.cityofboston.gov/publicworks/sweeping/remindme.asp

![No Tow Subscriptions - no reminders ](https://user-images.githubusercontent.com/92751818/156646432-1addf4fc-6402-4305-a42f-273185a8ade3.png)
![No tow subscriptions - reminder list](https://user-images.githubusercontent.

[2022-03-03 20:32] stephaniemar opened #2364 "Street Occupancy and Permit Look Up (Screen 3)"
Paths from Boston.Gov to Street Occupancy Permit Look Up and Alert Registration:

1. https://www.boston.gov/departments/public-works#get-started> click the common permits and applications tile>https://www.boston.gov/departments/public-works/common-permits-and-applications > click Street Occupancy permits link> https://www.boston.gov/departments/public-works/how-get-street-occupancy-permit > Click

[2022-03-04 13:25] duffy-james opened #2365 "Duplicate text / message bug with Building Housing Map"
The [Parker and Terrace project](https://www.boston.gov/buildinghousing/parker-and-terrace) on [Building Housing](https://www.boston.gov/buildinghousing) has two text updates (one on 11/1/21, and another on 11/2/21). These text updates were created by adding chatter messages to their corresponding Salesforce "website update" record:

![image](https://user-images.githubusercontent.com/7929556/15677

[2022-03-04 13:44] duffy-james opened #2366 "Data issues with My Neighborhood Lookup tool"
We continue to see outdated information in the [My Neighborhood Lookup tool](https://www.boston.gov/my-neighborhood).  This could be because:

- we have duplicate records, or
- because the underlying data which is sent from Analytics is still wrong.

@davidrkupton reached out to Andrew Shirshac with follow-up questions from our side:

Referring to Charles Sheils email on MNL for 1 Akron St where t

[2022-03-04 14:50] stephaniemar opened #2367 "Towed Car Alerts - Registration (Screen 4)"
Paths from Boston.gov to towed car alerts

1. https://www.boston.gov/departments/transportation> click towing and booting tile> https://www.boston.gov/departments/transportation/what-you-need-know-about-towing > click Phone, email or text alerts link
2. https://www.boston.gov/departments/transportation/what-you-need-know-about-towing#related-resources > Related Resources> sign up for towed care al

[2022-03-04 15:48] stephaniemar opened #2368 "Towed Car Look Up (Screen 5)"
The paths from Boston.gov:

1. https://www.boston.gov/departments/transportation >click towing and booting tile> https://www.boston.gov/departments/transportation/what-you-need-know-about-towing > Related Resources > click How to get your towed car back > https://www.boston.gov/departments/transportation/how-get-your-towed-car-back > Step1 Find Your Car> Click the _Search our online Database_ link

[2022-03-06 16:17] ugintl commented on #2325
@carolinestj It means that if I change the design, I can use it for a client.

[2022-03-07 13:23] davidrkupton commented on #2325
@ugintl - Yes, in summary the code is in the public domain but some of the design elements are not and the graphic elements are not.  So you can use the PHP, js and other code in this repository as the base for your own site (or one for your clients). We would however object if you use any of our images and icons (which are all copyright of the City of Boston).  We would also object if the final s

[2022-03-07 13:23] #2325 closed

[2022-03-07 14:00] ugintl commented on #2325
@davidrkupton One word comes to my mind "complicated". Nice design though.

[2022-03-07 14:05] stephaniemar opened #2370 "Assessing Online UI Mockups"
Here are the links to Caroline's UI proposals for Assessing online Desktop and Mobile

UI for web browser app: https://xd.adobe.com/view/500ca9d5-1b5b-421c-99e5-5faede6f6b21-055f/

UI for Mobile: https://xd.adobe.com/view/57a126bf-b27e-4c74-818a-802cda24c0a6-02f2/

[2022-03-07 14:13] stephaniemar commented on #2296
@subaha-cob you can also find the learn more links in this ticket

[2022-03-07 15:41] stephaniemar opened #2371 "Assessing Online Search Address Search Screen 1"
As a user I want the ability to search for City of Boston properties using the the Assessing Online search tool.

Acceptance Criteria for  Assessing Online Search Screen:

- [ ] The user sees the Assessing Online Title at the top of the screen

- [ ] The user sees instruction text on how to search for COB addresses

- [ ] The user sees the Search By description line with two radio buttons 1. Addre

[2022-03-07 16:46] stephaniemar opened #2372 "Assessing Online Property Info Screen 3"
As a user once I click on the property link I successfully searched for, I will be navigated to the property info screen where I can see all the details about the property.

- [ ] The user sees the ASSESSING ONLINE header

- [ ] The user sees the same search functionality as the previous screen, the Search by Address or Property ID buttons and the search bar

- [ ] The user sees the address or pro

[2022-03-07 19:35] stephaniemar opened #2373 "Step 2: TDM Target Score"
**Acceptance Criteria for Step 2: Target Score**

- [x] As a user I see the progress bar at the top of the screen move to Step 2 of 7
- 	The progress bar is on top of each screen of the application and shows user the what step they on are on in their application. In this case the user is on Step 2 of 7.

- [x] As a user I should see the title of this Step so I know which step in the application I

[2022-03-08 19:44] stephaniemar commented on #2373
Yes-- I have it in this ticket-- https://github.com/CityOfBoston/boston.gov-d8/issues/2298

It is a bit confusing we have two step 3s

[2022-03-09 16:06] davidrkupton opened #2375 "drupal 9 update"
Project Manager: David
Stakeholder: Digital (CDO)
Primary Dev: David
Additional Dev: -
UI:
URL:
Brief Description: This is an update to drupal core to move from v8 (now unsupported) to v9.

[2022-03-09 18:55] stephaniemar commented on #2304
This page looks good -- We just need to solidify a couple of things here:

1. The App URL on Boston.gov
2. Where the Mobility Score Learn More link navigates the user
3. Where the TDM Target Score Learn More link navigates the user

[2022-03-09 19:08] subaha-cob commented on #2304
@stephaniemar I need more Information:

1. The App URL on Boston.gov - _what is the actual url? Add here pls._
2. Where the Mobility Score Learn More link navigates the user - I just updated this one
3. Where the TDM Target Score Learn More link navigates the user - _What is the url of the target score? Add here pls._

[2022-03-10 15:35] subaha-cob commented on #2298
@stephaniemar as I mentioned earlier, I will be ignoring the "MAX PARKING RATIO FOR DEVELOPMENTS 50,000 SQ FT AND LARGER" for now.

[2022-03-10 18:48] duffy-james opened #2382 "Copy / paste from Google doc preventing "mailto:" links form working"
A user reported a bug where the "mailto:" links on their public notice weren't actually submitting messages.

[Here's the public notice](https://www.boston.gov/public-notices/15808721). If you check the email address under "public testimony" here:

![image](https://user-images.githubusercontent.com/7929556/157733005-183438a0-53e9-4dda-b373-bf6ffb9d9d1c.png)

You'll see that you can't submit an ema

[2022-03-11 18:28] stephaniemar commented on #2297
Steph Comments:

1. Is this Step 1 of  6 or 1 of 7
2. I am not sure we should see the banner across top with total and target score
3.

[2022-03-11 18:31] subaha-cob commented on #2297
This is Step 1 of 7

You are right, the banner should start showing from step 2 I believe.

[2022-03-11 18:48] stephaniemar commented on #2373
Steph Comments:

1. I do not think we see the top banner with total and target score yet
2. In the Mock up Mary has the Maximum parking ratios per land user document- Will the user just see the dynamic Map here?
3. Should there be a Learn More link next to the Residential Only Development check box?

[2022-03-11 19:19] stephaniemar commented on #2298
Steph Comments:

1. I am unclear how the address search works - Can the user search in both the map and the parcel field, or is parcel field a data entry field?  If they search for a partial address will the get a list of addresses to choose from? Once the choose the address will it stay in that field.
2. Under Declare Land Users - In Mary's UI  the Development Square Footage field is a drop down

[2022-03-11 19:31] subaha-cob commented on #2298
@stephaniemar Mary's latest UI is incomplete and unpolished. My advice will be ignore for now.

The address search was benched for phase two. We need to rework or reword this portion of the UI.

[2022-03-11 20:05] stephaniemar commented on #2298
@subaha-cob Ok--- Once Mary gets back and updates the UI we can revisit testing. But overall everything looks good so far

[2022-03-16 19:22] duffy-james opened #2398 "Arrow to move components needs to bump up to top left in Drupal 9"
In the Drupal 9 version of the site, the arrow to move components up and down is in the middle on the left-hand side:

![image (2)](https://user-images.githubusercontent.com/7929556/158671463-edd37eda-8686-49e6-9950-9788946df7fe.png)

In Drupal 8, that arrow had been at the top left of the component, like this:

![image (3)](https://user-images.githubusercontent.com/7929556/158671648-e18fd397-5f73

[2022-03-16 19:26] duffy-james opened #2399 "Call-to-action buttons grayed out in backend of Drupal 9"
With the Drupal 9 update, the call-to-action buttons in components on the site all appear in gray in the backend:

![image (4)](https://user-images.githubusercontent.com/7929556/158673167-a7365153-f5f8-49dc-a881-f4650f7e737e.png)

We should match the current setup in Drupal 8, with the components all appearing in blue:

![image (5)](https://user-images.githubusercontent.com/7929556/158673582-71a08

[2022-03-18 19:50] davidrkupton commented on #2334
Check this in early May to see if the links for d8-dev/d8-uat etc are off google.

[2022-03-21 14:27] duffy-james commented on #2347
@subaha-cob looks like someone grabbed this one -- maybe @davidrkupton with the move to Drupal 9? Either way, going to close this ticket.

[2022-03-21 14:27] #2347 closed

[2022-03-21 19:28] duffy-james commented on #2399
This issue is resolved.

[2022-03-21 19:28] #2399 closed

[2022-03-21 19:28] duffy-james commented on #2398
This issue is resolved.

[2022-03-21 19:28] #2398 closed

[2022-03-21 19:29] duffy-james commented on #2382
This issue is resolved.

[2022-03-21 19:29] #2382 closed

[2022-03-21 19:40] duffy-james opened #2411 "Metrolist feedback form returning html tags"
Nolin in the Mayor's Office of Housing is reporting an issue with the feedback forms on our Metrolist pages:

_Starting late last week (March 17-18), we began to receive a number of Metrolist Webform Submissions with this HTML format. It looks like they may be generated when an anonymous submission is made, and are coming from a Matthew Crist email address_

Here's an example of the message below:

[2022-03-22 12:31] davidrkupton commented on #2375
Deployed sucessfully

[2022-03-22 12:31] #2375 closed

[2022-03-23 13:16] duffy-james opened #2412 "Caching issue displaying incorrect breadcrumbs"
On the [Women's Advancement department page](https://www.boston.gov/departments/womens-advancement), a user noticed that the breadcrumb at the top was displaying the incorrect department:
![image](https://user-images.githubusercontent.com/7929556/159704149-081c05e5-4415-4fc8-a685-d97bb7ad4bd5.png)

After clearing cache, it appears to be fixed, but @davidrkupton suggested investigating caching on t

[2022-03-23 18:52] duffy-james commented on #2365
@padora-cob one note on this Alex, as part of this ticket, Nolin had this question:

"What is actually triggering the publishing of a project page on the site. We have good documentation on how to update things - and how fields / functionality in SF correspond to BH, but I can't find any information on the initial project page publish trigger. Basically what turns a dot on the BH page from grey to

[2022-03-24 18:51] duffy-james opened #2416 "Enhancements to search on Boston.gov"
Users should be able to access links to our news, events, and public notices page from the [City of Boston search website](https://www.boston.gov/search). We need to add the "More resources" section [on this test page](https://content.boston.gov/departments/digital-team/test-page-search-component) to the bottom of the search.

Users should be able to see that section on the regular search page, on

[2022-03-25 16:51] duffy-james opened #2419 "Text appearing in "add calendar" section of events"
A bug is causing stray text to appear in the "add calendar" section of the sidebar of certain events on the website. [Here's an example](https://www.boston.gov/calendar/blue-hill-avenue-action-plan-b1-project-update
):

![image](https://user-images.githubusercontent.com/7929556/160165078-c08f8ed5-f1c1-4b75-ab94-5914812a0d9b.png)

Investigating this specific event, I couldn't determined anything in

[2022-03-25 17:03] duffy-james opened #2420 "Clarification around Building Housing / Salesforce integration"
Nolin from the Mayor's Office of Housing is looking for some clarification around the integration of the Building Housing Map and Salesforce:

One current gap in our knowledge around the existing Building Housing / Salesforce integration is around what fields / records in Salesforce control the way projects render on the map page. For example, on the screenshot below, we do not currently understan

[2022-03-29 12:58] rachelsater commented on #2330
@davidrkupton should I close this ticket?

[2022-03-29 12:59] rachelsater commented on #1110
@davidrkupton should I close this ticket?

[2022-03-29 13:28] #2330 closed

[2022-03-29 13:55] davidrkupton opened #2423 "Issue with salesforce scheduled processes/cron"
Every 5 minutes the following is logged in the drush logs.

[code]

[2022-03-29 13:57] davidrkupton commented on #2423
@padora-cob This is a new one for you to take a look at.

[2022-03-29 16:22] duffy-james commented on #2420
Here's another example from Nolin:

We have a [project page](https://www.boston.gov/buildinghousing/medford-street-possible-multi-agency-transfer) on BH that is active, and therefore has its own page, but which doesn't have a timeline or any updates (I think because of its "stage" value in Salesforce and lack of a corresponding website update record). We're wondering if / how we can change the inf

[2022-03-29 16:37] duffy-james commented on #2420
To clarify, Nolin's issues / questions are more around how the integration between the site and the "Project" object works, both with regard to how content is rendered on the map, and then how content is rendered on an individual project page. I have not been able to find any documentation on that side.

[2022-03-29 16:43] duffy-james opened #2424 "Metrolist changes in Salesforce not reflected on Boston.gov"
It seems that the [Metrolist listings on the website](https://www.boston.gov/metrolist) aren't updating. The Mayor's Office of Housing flagged some recent issues they're running into. This is from Nolin:

It looks like we're having some disruption with Metrolist now too. Visibility around the site's unit listings is usually controlled by an "Availability Status" field on the Development Unit recor

[2022-03-29 16:51] duffy-james commented on #2424
From Nolin: It does appear that the Drupal-to-Salesforce integration through the online listing form is still creating Salesforce records as expected. It appears to just be the Salesforce-to-Drupal integration where we are experiencing a block in listing updates / visibility.

[2022-03-29 20:15] padora-cob commented on #2424
Good news, it seem to work and update when I manually request a pull from Drupal (SF->Drupal).

99 Chestnut Hill Avenue Unit \#1 now seems to be updated to "closed" and de-listed on the site.

I did not see any errors with the sync itself. Will look into a few other things.

I will run a re-sync for the "metrolist-developments" and "metrolist-units" later tonight. This, at the least, should get us

[2022-03-30 12:49] davidrkupton commented on #2424
- Moved to QAT while this is monitored.

[2022-03-30 13:07] duffy-james commented on #2424
@davidrkupton will do

[2022-03-30 13:47] padora-cob commented on #2424
I think that should be fine, thanks!

On Wed, Mar 30, 2022 at 9:07 AM James Duffy ***@***.***>
wrote:

[2022-04-04 19:12] duffy-james commented on #2424
@padora-cob @davidrkupton The Metrolist team is reporting that updates aren't being reflected on Boston.gov.

[Watermills](https://www.boston.gov/metrolist/search/housing/watermills?type=rent&assignment=waitlist) was updated in Salesforce on Wednesday to reflect rent at $2,003, but it's still listed at $1,908.

The team also added a bunch of units for a Kingston lottery earlier today (Monday, Apri

[2022-04-05 13:17] davidrkupton opened #2430 "Abutters Mailing List Generator Mapbox errors on console."
Issues with current [Abutters Mailing List Generator](https://boston.gov/abutter-mailing-list-generator)
- mapbox misconfiguration (in js console),
   ![image](https://user-images.githubusercontent.com/4700050/161775418-02de7060-e18b-4c18-8e55-890045ffea65.png)
- an "undefined" which is returned after the search, next to the parcel #
   ![image](https://user-images.githubusercontent.com/4700050/16

[2022-04-05 13:46] duffy-james opened #2431 "Next steps for maps on Boston.gov"
Opening a ticket as a placeholder for future work on maps on the website. [Here's a spreadsheet](https://docs.google.com/spreadsheets/d/1qBQrTCPEveSf-M6sPJ1HVInlijNmvXrf156Wc5o38UY/edit#gid=280579724) listing existing maps leveraging our maps component in Drupal. Based on existing sites, our maps are broken down into roughly three types:

1. Simple maps showing various locations.
2. Maps that show

[2022-04-05 19:26] duffy-james opened #2434 "Building Housing Salesforce data not syncing with Boston.gov"
Nolin and his team noticed that a routine update to a Building Housing site wasn't working. A development officer updated a website update record via Chatter, a Community Meeting Event record, and a File upload, but did not see any of those updates render on the Building Housing page after 3-4 days.

The website update record is for Blue Hill Ave Action Plan - B1 Parcels, and the Building housing

[2022-04-14 12:13] duffy-james opened #2443 "Potential issues with Metrolist listing form"
The Metrolist team is reporting issues with the [Metrolist listing form](https://www.boston.gov/departments/neighborhood-development/metrolist/metrolist-listing-form). It looks like agents have been unable to successfully post on Metrolist.

The issue is specifically with the [listing form to salesforce](https://www.boston.gov/departments/neighborhood-development/metrolist/metrolist-listing-form),

[2022-04-15 13:05] padora-cob commented on #2443
I went through the whole Metrolist Listing system and code on my LOCAL last
night, but did not find any issues.

I then gave it a try on DEV and it also seemed to work, no error in any
of the logs.

Finally, I went on PROD and tried to submit a listing form. All worked as
expected. I was able to log-in to DND SalesForce Prod and the form and
information I had just submitted was there as expected.

[2022-04-21 19:42] stephaniemar commented on #2285
@subaha-cob - Can we move this ticket to complete?

[2022-04-22 13:29] carolinestj commented on #2302
Can we change the Montserrat title on this screen to be regular and not italic
<img width="1304" alt="Screen Shot 2022-04-22 at 09 26 29" src="https://user-images.githubusercontent.com/22770827/164723579-06a610c5-7002-4d3a-bce3-99b8fc7ad45e.png">

Can we change the lora to be lower case instead of uppercase
<img width="1309" alt="Screen Shot 2022-04-22 at 09 26 44" src="https://user-images.githubu

[2022-04-22 18:51] stephaniemar commented on #2304
Can we open the Learn More links in a new tab?

I still have an open question about the TDM Target Score learn more link.

[2022-04-22 19:54] stephaniemar commented on #2373
1. The banner at the tip with the Total and Target Scores- I see the Target Score changes based on the Mobility score. Should the Total score default to 40? or 0? - should we see this banner on this screen yet?
2. The mobility score map should open in a new tab

[2022-04-25 13:23] stephaniemar commented on #2298
1.  For the Total Score/Target Score banner -- The Target Score is based on the step 2 - Should the total score have a 0? or is 40 the base score users start with?
2. As mentioned above the search by address is not being implemented v1 - Do we need an update to the UI to make this clear? It still seems like the user can search
3. In the latest UI mock up I am comparing against there are two docs t

[2022-04-25 14:57] stephaniemar commented on #2299
1. The Total score is not changing if I unclick any of the strategies under the programming strategies.

[2022-04-25 15:59] stephaniemar commented on #2301
1. UI needs to review the drop down menu design
2. The Learn more links do not seem to be working
3. The top score on the bike share membership does not seem to be working
4.

[2022-04-25 18:25] duffy-james opened #2457 "Quotes / single quotes in headlines of "events and notices" component broken"
If you add a quote or single quote to the headline of an event, the code appears to the user on the front-end, instead of the quote:

![image](https://user-images.githubusercontent.com/7929556/165150631-6cacb0b2-8985-467e-a067-8a7ce0a723db.png)

You can see the code getting adding in the screenshot above for a single quote. The same thing happens for regular double quotes.

This was a previous bug

[2022-04-26 17:46] stephaniemar opened #2458 "Intro Screen: Learn more links"
Mobility Score and TDM Target Score Learn more links should open in a new tab.
Steps to reproduce:
1. Land on Intro screen
2. Click on Mobility Score Learn More link
3. It opens the link in the same tab you are in
Expected behavior: all learn more links should open in a new tab

[2022-04-26 17:50] stephaniemar opened #2459 "Intro screen: TDM Target Score Learn More link not working"
Issue: the TDM Target Score Learn more link does not navigate the user anywhere
Steps to reproduce:
1. Navigate to TDM points tool intro screen
2. Click on the TDM Target Score Learn More link
3. The user does not get navigate anywhere

Expected results: User should be taken to appropriate info screen when they click the Learn More link in a new tab

[2022-04-26 18:07] stephaniemar opened #2460 "Step 2 Screen: Score Banner at top of the screen"
Issue: There should not be a score banner at the top of this step. The user does not have a score at this part of the process

Steps to reproduce:
1. Navigate to Step 2: TDM Target scores after entering Filer information
2. The user sees a banner at the top of the screen with a Total and Target Scores

Expected results: This banner should not appear on this screen

[2022-04-26 18:17] stephaniemar opened #2461 "Step 3: Search Language Update"
Issue: We are not providing the functionality for users to search parcels for v1- the search language/ Find Parcel text label should be updated to reflect the user should just enter the address into find parcel field

Steps to reproduce:
1. Navigate to Step 3: Land Information screen the user sees the following instructional language 'Search by address or select the map below to select your develo

[2022-04-26 18:24] stephaniemar opened #2462 "Step 3: Declare Land Uses Type drop down"
Issue: Step 3: Land Information- is there way to make it more apparent to the user when the type drop down is not available?

Steps to reproduce:
1. User Selects Residential as a proposed land use
2. The type drop down activates so the user can chose either rental or condo
3. If the user selects any other land proposed land use  the drop down appears greyed out and unclickable

Expected results: C

[2022-04-26 19:04] stephaniemar opened #2463 "Step 4 Bicycle Parking/Bike Share Provision Learn More link"

[2022-04-26 19:15] stephaniemar opened #2464 "Step 4: Baseline Strategies Error page when user clicks next after unclicking a strategy"
Issue: If the user unclicks any of the required strategies on this screen, clicks the next button with out adding any comments they get a error screen. Clicking the back button sends them to the beginning of the application

Steps to reproduce:
1. Unclick one of the strategies on this screen
2. Click Next
3. User is sent to a error screen
4. If you click the back button you get sent to beginning o

[2022-04-27 13:20] stephaniemar opened #2465 "Step 4 Baseline Strategies: If the user unclicks one of the following strategies Transit, Vehicle, Bicycling it should be deducted from their total score"
Issue: The users total score is not changing if any of the baseline strategies, Transit, Vehicle, Bicycling, this should be reflected in their total score

Steps to reproduce:
1. Unclick any of the following baseline strategies - Transit, Vehicle, Bicycling
2. Total score in top banner does not change if any of these strategies are unclicked

Expected results:
If the user unclicks any of these str

[2022-04-27 17:38] stephaniemar opened #2470 "Step 5 Impact Strategies Learn More links not working"
Issue: The following learn more links are not working on the Impact Strategies Screen: Transit Subsidy, Parking Reduction, Parking Price

Steps to reproduce:
1. Navigate to Step 5 Impact Strategies screen
2. Click on any of the learn more links
3. User gets taken to error page

Expected results:
If the user clicks on a learn more link a new tab should open with the appropriate PDF
[08-Transit Subs

[2022-04-27 18:01] stephaniemar opened #2471 "Step 6: Elective Strategies Learn More links not working"

[2022-04-27 18:49] stephaniemar opened #2472 "Step 6: Bike Share membership/Subsidy and Mixed Use Development drop down dependencies"
Issue:
1. Under the Bicycling strategy there is a dependency between the two drop downs. The bottom drop down should only activate if the user choses platinum in the top dropdown. There is only one option in the bottom drop down if it is active. If the user chooses platinum in the top drop down and picks the option in the second dropdown that option still appears if the user goes back and changes

[2022-04-27 19:09] stephaniemar opened #2473 "General point bug"

[2022-04-27 19:17] stephaniemar opened #2474 "Step 7: Title should not be in italics"
Issue: Step 7 Review Screen Title in italics

Steps to reproduce:
1. Navigate to the review screen
2. Step 7 Review Information is in italics

Expected results:
The Step 7: Review Information should not be in italics

![image](https://user-images.githubusercontent.com/92751818/165603435-cecc02e1-b291-42d2-918a-113a38548c12.png)

cc @carolinestj

[2022-04-27 19:22] stephaniemar opened #2475 "Step 7 Review Information - Change Lora to lower case"
Issue: Step 7 Review Information - Change Lora to lower case

Steps to reproduce:
1. Navigate to Step 7 Review Information
2. Lora should be in Lower Case

Expected results:
Lora should be in Lower Case
![image](https://user-images.githubusercontent.com/92751818/165603875-2be38d54-c673-4b1a-a02d-60ea83ba6bd5.png)
cc @carolinestj

[2022-04-27 19:25] stephaniemar opened #2476 "Submit Application - Email Template not correct"
Issue: Submit Application- Email to user after submission is not correct

Steps to reproduce:
1. Submit your TDM Points application
2. Check email that arrives in your inbox
3. Email is from Matthew.Crist@Boston.gov
4. The information in the email is not correct

Expected results:
User should receive confirmation email after submission documenting what they submitted to BTD on the TDM points appli

[2022-04-28 14:45] duffy-james opened #2477 "Change field in "person profile" content type"
The "title" field in the screenshot below needs to be change in the "person profile" content type:

![image](https://user-images.githubusercontent.com/7929556/165779096-0c1558ad-2ac3-4c2d-afbc-8de4314e750f.png)

The field should say "full name" instead of "title." Users are getting confused and assuming that the field is for their job title.

[2022-04-28 17:39] duffy-james commented on #2443
@padora-cob got it, thanks Alex. I'll close this one out for now. It sounded like it may have been a one-off event on their end as well.

[2022-04-28 17:39] #2443 closed

[2022-04-28 17:40] duffy-james commented on #2434
@padora-cob I know we've been going back and forth on email about this, I just wanted to update the ticket.

It sounds like you have a temporary fix for now for the syncing issues, but are looking to put something more permanent into place. Is that correct?

[2022-04-28 19:14] davidrkupton commented on #2411
We belive this has been fixed - waiting for confirmation from MOH

**info:** We needed to update our settings to accommodate server-side settings made by our web hosting provider Acquia.
These changes have been made and other webform emails are now sending correctly, so we expect BH webform generated emails will be too.

[2022-04-29 15:35] carolinestj commented on #2472
**Step 1:** click platinum -> get 7 points
**Step 2:** click bottom box -> two options should appear "none | 0 points" and "subsidy 50%"
**Step 3:** Choose one option -> in this scenario "subsidy 50%" -> get 5 points
**Step 4**: Realize you don't want platinum -> choose another option
_Action:_ second box that had  "subsidy 50%" selected should go back to the default state and be greyed out. The p

[2022-04-29 15:43] carolinestj commented on #2461
@stephaniemar
Should probably have James check the language on this but maybe something along the line of:

FIND PARCEL
Add the address of your parcel, for example, 1234 street, Boston MA 02127"

[2022-04-29 15:51] stephaniemar commented on #2461
@duffy-james for v1 we are not implementing a parcel search, this will be an input screen for uses to enter one or more addresses. See Caroline's suggesting above, we need a language update here to reflect that is this is an input screen not a search screen.

![image](https://user-images.githubusercontent.com/92751818/165979360-c62f9af8-c487-4344-9d4d-00bd19d49bec.png)

[2022-04-29 16:46] duffy-james commented on #2434
@padora-cob I shared the knowledge doc with them about the syncing logic, but they're still reporting some issues:

They tried a few different Disposition Types (Incoming Transfer, Non-Active/postponed, Interagency Transfer) and after more than five minutes, none of these hid the listing from the BH map. It's unclear from testing if this is due to error in the logic or if there is a synch issue:

[2022-05-02 12:34] davidrkupton opened #2481 "SimpleSAML email address breaks login for user"
When an FID record does not have an email address (can happen for any user, but more common for sponsored accounts), Drupal fakes an email address on first login.
This then seems to prevent the user from logging in via SSO until this manual workaround:
1. the username is manually set to the UID (can be done in the backend by someone with Administrator role)
2. the email address is set to a unique

[2022-05-02 12:36] davidrkupton commented on #2481
Work effort 1-2 days to develop, 1-2 days to test

[2022-05-03 18:11] stephaniemar commented on #2461
@subaha-cob you can use the following language here:

- [ ] Under the Step 3: Land Information replace what is there now with this ---> Add the address of your parcel, for example, 1234 street, Boston MA 02127

- [ ] ADD PARCEL should be above the input box

[2022-05-03 18:14] stephaniemar opened #2483 "Step 4: Total Score banner(NEW)"
Issues: On the Step 4 screen there should be a Target and Total Score Banner at the top of the screen as the user should have a baseline score for required strategies and they already entered their Mobility Score on a previous screen.

Steps:

1. Click Next Section on Step 3 after entering your parcel and selecting your land use
2. The user user does not see a score banner at the top of the screen

[2022-05-03 18:26] stephaniemar opened #2484 "Spelling Updates(NEW)"
Issue; There are a couple of misspellings that need to be updated

Steps to reproduce:

1. Navigate to any step that has Learn more links
2. Learn in the Learn More link is spelled wrong -- They all say Lean no Learn
3. Step 4: Baseline Strategies --->>> Programming is spelled incorrectly it should have two M's

Expected Results:
We need to update the page to reflect the correct spellings

[2022-05-03 18:33] stephaniemar opened #2485 "Your Total Score is showing on all screens"

[2022-05-05 18:55] subaha-cob commented on #2475
@stephaniemar I need more explanation here. I am not sure what needs to be in lowercase.

[2022-05-05 19:12] carolinestj commented on #2475
@subaha-cob Everything on this page that is in Lora bold upper case needs to be Lora bold lowercase

Does that help?

[2022-05-05 20:04] subaha-cob commented on #2475
Got it @carolyn-wang

[2022-05-06 13:28] duffy-james commented on #2434
@padora-cob Alex, just adding this to the ticket based on our convo yesterday.

Ethan flagged that there is no existing web update object for the Salesforce entry. Based on our discussion, it sounds like (if there is no web update object) it will never make it over to Drupal, right?

Ethan was going to try adding a WU to the project and see if did anything, but I haven't followed up with him to se

[2022-05-06 14:26] duffy-james commented on #2342
@davidrkupton any chance we can prioritize this bug fix? we're starting to get more events added to the site for the summer and I have multiple examples where this is happening.

[2022-05-09 15:36] stephaniemar opened #2489 "Strategy Boxes should turn blue upon selection"
Issue: In Steps 5 and 6 if any of the strategies/subsidies are selected the box remains grey

Steps to reproduce:
1. Navigate to Step 5 or 6 in the application - Either choose an option from a pull down or click a check box in any of the strategies or subsidies
2. The grey portion of the strategy or subsidy box selected should turn blue to indicate it was selected

Expected Results: If any strateg

[2022-05-09 16:51] subaha-cob commented on #2472
@carolinestj I am having a hard time getting this to show zero because of some of Drupal form behavior that can as 'is'. Will it be okay to simply hide the section instead? See below:

![Image](https://user-images.githubusercontent.com/57374913/167458849-9895e82c-cfef-4569-aeb5-ed475ffd4c89.png)

[2022-05-09 19:14] stephaniemar commented on #2460
This Bug has been fixed.

[2022-05-09 19:15] stephaniemar commented on #2476
This bug has been fixed

[2022-05-09 19:15] #2476 closed

[2022-05-09 19:15] #2460 closed

[2022-05-09 19:20] stephaniemar commented on #2461
This bug has been fixed

[2022-05-09 19:20] #2461 closed

[2022-05-09 19:22] stephaniemar commented on #2462
@carolinestj @miyekay94 - Can we get Design to review this for approval?

[2022-05-09 19:25] stephaniemar commented on #2484
Hey @subaha-cob I am still seeing these errors.

[2022-05-09 19:28] stephaniemar commented on #2483
This bug has been fixed

[2022-05-09 19:28] #2483 closed

[2022-05-09 19:29] stephaniemar commented on #2465
This bug has been fixed- I am a still waiting for confirmation from BTD about what the correct behavior should be

[2022-05-09 19:29] #2465 closed

[2022-05-09 19:40] stephaniemar commented on #2458
This bug has been fixed.

[2022-05-09 19:40] #2458 closed

[2022-05-09 19:41] stephaniemar commented on #2459
This bug has been fixed.

[2022-05-09 19:41] #2459 closed

[2022-05-10 13:00] stephaniemar commented on #2464
This bug has been fixed.

[2022-05-10 13:00] #2464 closed

[2022-05-10 13:22] stephaniemar commented on #2470
This bug has been fixed.

[2022-05-10 13:22] #2470 closed

[2022-05-10 13:33] davidrkupton opened #2490 "Bos311: Multilanguage Supporting docs"
Repository for project related documents.

[2022-05-10 13:35] davidrkupton commented on #2490
** Receiving API requirements
[Connected Bits API](https://github.com/CityOfBoston/boston.gov-d8/files/8661984/posts.api.pdf)

[2022-05-10 15:11] stephaniemar commented on #2485
This bug has been fixed.

[2022-05-10 15:12] stephaniemar commented on #2475
This bug has been fixed.

[2022-05-10 15:12] #2475 closed

[2022-05-10 15:13] stephaniemar commented on #2474
This bug has been fixed.

[2022-05-10 15:13] #2474 closed

[2022-05-10 15:27] subaha-cob commented on #2484
@stephaniemar I am not sure what the spelling is going to be. Please can you spell it out exactly because I see:
<img width="1236" alt="Screen Shot 2022-05-10 at 11 23 37 AM" src="https://user-images.githubusercontent.com/57374913/167665491-a0cf2783-d908-45e1-a7da-235b2e80d405.png">

[2022-05-10 15:28] miyekay94 commented on #2484
@subaha-cob "Learn More" is showing as "Lean More" on steps 2, and 4

[2022-05-10 15:30] stephaniemar commented on #2484
@subaha-cob Programming is now spelled correctly but Learn is Lean on every screen

![image](https://user-images.githubusercontent.com/92751818/167665861-ef075166-9219-4508-9c93-0aa2008014a3.png)

[2022-05-10 15:36] #2462 closed

[2022-05-10 19:45] stephaniemar commented on #2484
This bug has been fixed.

[2022-05-10 19:45] #2484 closed

[2022-05-10 19:46] stephaniemar commented on #2489
This bug has been fixed

[2022-05-10 19:46] #2489 closed

[2022-05-10 20:46] subaha-cob commented on #2473
@stephaniemar This will require some rework. Still trying to figure out the best path forward for a solution.

[2022-05-11 12:12] duffy-james opened #2493 "Fix styling issues with Metrolist listing form"
At the point where a user gets to the "unit details" section of our [Metrolist listing form](https://www.boston.gov/departments/neighborhood-development/metrolist/metrolist-listing-form), the styling is missing.  The spacing appears to be missing in the first and second rows where a user inputs data:

![image](https://user-images.githubusercontent.com/7929556/167846470-cb1d4c73-0725-4203-a343-0869

[2022-05-11 12:23] duffy-james opened #2494 "Apostrophe in preventing submission of Metrolist listing form"
In testing during a recent meeting with the Mayor's Office of Housing, we were unable to submit a new listing to the [Metrolist listing form](https://www.boston.gov/departments/neighborhood-development/metrolist/metrolist-listing-form). After checking our logs, @davidrkupton noticed that it was an apostrophe in the "contact company" field was preventing the user from submitting the form:

![image]

[2022-05-11 12:29] stephaniemar commented on #2472
Hey @subaha-cob I am testing this bug- when I click the platinum option the bottom drop down becomes active and I can choose something here however when I go back up and choose a different level I am still seeing the option in the lower dropdown. Also if I go up and choose None this is what I am seeing. Not sure if this is what we want.
![image](https://user-images.githubusercontent.com/92751818/1

[2022-05-11 12:41] duffy-james opened #2495 "Investigate potential cron job issues with Salesforce and Drupal"
When adding Salesforce records to Metrolist and our Building Housing map, a cron job runs every five minutes that picks up new and updated records from Salesforce. In looking into the issue, @padora-cob suspected that there may be an issue with the cron job running in Drupal that is preventing the new and updated records from appearing.

There is an option to separate the salesforce cron from the

[2022-05-11 12:49] davidrkupton commented on #2495
This is a very common, very low risk change to make.  We already have other cron processes configured in this way, for this reason.
The proposed change takes 2 minutes to make, and 1 minute to apply.  It is provisioned and fully supported by the author of the Drupal contributed salesforce module.
There is no down time on the server and no possibility of affecting the website or any of its services

[2022-05-11 13:00] duffy-james opened #2496 "Create field mapping documents for Metrolist and Building Housing"
@padora-cob has already done some of this work, but there appears to be a knowledge gap on the Mayor's Office of Housing side on what Salesforce fields affect the fields in Drupal. The team would like field mapping documents that map:

- [ ] Salesforce fields to Metrolist listings in Drupal
- [ ] Salesforce fields to Building Housing entries in Drupal
- [ ] Salesforce fields to the iconography of

[2022-05-11 15:14] stephaniemar opened #2497 "Add points to Step 6 check mark strategies in application"
Issue: The user does not see the points values for some of the check mark strategies in the application. Can we update these checkboxes to indicate the points value if checked so they appear like this:

![image](https://user-images.githubusercontent.com/92751818/167890771-65408728-82cb-4e88-8017-56a8a731084b.png)

Step 6: Elective Strategies

- [x] E-Bike/E-Cargo Bike Program: 5 Points
- [x] Multi

[2022-05-11 15:28] subaha-cob commented on #2497
@stephaniemar Just to clarify this, we don't need the points added to Baseline Strategies because it is already added there.

[2022-05-11 15:31] duffy-james opened #2498 "Permissions issue on JS file preventing users from opening "drawers" for filtering events and news pages"
We're receiving reports that users are unable to open up the "drawers" on our website for filtering on our [calendar listing page](https://www.boston.gov/events), [public notices site](https://www.boston.gov/public-notices), and [news page](https://www.boston.gov/news). When they click on the drawer to open up filtering options, nothing happens:

![image](https://user-images.githubusercontent.com/

[2022-05-11 15:34] duffy-james opened #2499 "Filtering by "date" option missing in our news page"
On our [latest City of Boston news page](https://www.boston.gov/news), the "date" filer is appearing as an empty box with no option to filter by start and end dates:

![image](https://user-images.githubusercontent.com/7929556/167889426-c3d6cd6b-54f9-43b3-8978-ed430051f23c.png)

This may be related to the existing permissions issue noted in Ticket #2498

[2022-05-11 15:42] stephaniemar opened #2500 "TDM Points application copy updates"
Please make the following updates in the TDM Points Tool:

- [x] Intro Screen:  Spell out BTD  in the last sentence, Development projects will need to select TDM strategies to meet this minimum number of points to satisfy **BTD** development review requirements --->>> Boston Transportation Department (BTD)
- [x] Step 2: orespondents is spelled incorrectly in the intro copy - It should be correspon

[2022-05-12 13:16] davidrkupton commented on #2499
@duffy-james I believe you are correct and this is related to #2498

[2022-05-12 18:48] davidrkupton commented on #2498
![image](https://user-images.githubusercontent.com/4700050/168147022-a70e6f80-3c9c-49c3-ad32-fa8c2920ee68.png)

[2022-05-12 19:07] davidrkupton commented on #2498
Response when requesing the js file:
![image](https://user-images.githubusercontent.com/4700050/168150061-eec78084-c4f1-4428-9b42-ff5e846cd5c2.png)

[2022-05-13 12:23] duffy-james opened #2502 ""Add to calendar" bug with Microsoft Outlook calendar"
When users visit [event links](https://www.boston.gov/calendar/neighborhood-coffee-hours-jamaica-plain) on our website, there is an option to add the event to a virtual calendar through the "add to calendar" button in the sidebar:

![image](https://user-images.githubusercontent.com/7929556/168281537-5e416b3d-1212-46a6-b6dd-cf1fbe5a8e7d.png)

The option appears to be working fine for Google users,

[2022-05-13 14:14] stephaniemar opened #2503 "New Ticket"

[2022-05-13 18:16] stephaniemar commented on #2472
Hey @carolinestj @miyekay94 can you take a look and see if the behavior here looks ok. I am thinking we can get user feedback during UAT testing.

[2022-05-13 18:30] duffy-james opened #2505 "This is a test"

[2022-05-13 18:31] #2505 closed

[2022-05-13 18:53] stephaniemar commented on #2500
@subaha-cob All this looks good. I unclicked three of the updates Corresponds is still spelled wrong on the target score screen and a couple of the strategies on step 6 are not in bold any more. Let me know if you have any questions.

[2022-05-16 15:20] ebshrier opened #2507 "BuildingHousing synch issue"
Another project not synching on BuildingHousing. This project did have 2 webupdate objects, but we've deleted one and cleaned up the links between them. We saved updates to the remaining WU and the project but aren't seeing any of these reflected on site.

https://www.boston.gov/buildinghousing/174-176-boylston-23-dalrymple

[2022-05-16 16:39] ebshrier commented on #1458
unable to recreate

[2022-05-16 17:12] duffy-james commented on #2507
@ebshrier will alert Alex now.

[2022-05-16 17:16] duffy-james commented on #2507
@ebshrier it looks like the link is completely broken -- is there another link, or is that part of the issue?

[2022-05-16 18:51] #2078 closed

[2022-05-16 18:51] stephaniemar commented on #2472
Here is the following behavior for the three strategies that have two drop downs:

[2022-05-16 19:17] duffy-james commented on #2507
Follow up on this: The project name wasn't being updated on the website, but it looks like the URL did get updated and is forwarding to an amended version (with "streets" at end, which is now part of the name).

[2022-05-16 19:26] stephaniemar commented on #2500
All these updates are complete

[2022-05-16 19:26] #2500 closed

[2022-05-17 12:59] #2498 closed

[2022-05-17 15:42] ebshrier commented on #2507
Hi @duffy-james Can you provide an update on this ticket? The project page is down completely.
I've tried updating & saving the project and web update objects in SF but can't get them to synch. I also reverted the project name back to the original (no "Street") and updated the Boston.gov link to try and get these all consistent, but DNS isn't getting updated (still redirects to "https://www.boston

[2022-05-17 15:42] davidrkupton commented on #2498
## Comment
The cause of this issue is unexplained.  I believe that when Drupal made the aggregated JS file the permissions for the file were set in a subtly different way to the other js files, and which is not apparent from the basic console commands.  This has never happened before to boston.gov or any Drupal site I have been involved with, so I'd say its a rare and probably not replicatable eve

[2022-05-17 15:44] davidrkupton commented on #2499
see comments on https://github.com/CityOfBoston/boston.gov-d8/issues/2498

[2022-05-17 15:44] #2499 closed

[2022-05-17 15:53] davidrkupton opened #2509 "Cape Verdean Translation for Status Item"
Google translate does not translate Cape Verdean (aka Cabo Verdean / lang-code `cv`).
We require the following translations:
## Tow-Lot
- [ ] Tow lot
- [ ] How to get your towed car back
- [ ] The tow lot is closed. Automated kiosks are available 24 hours a day, seven days a week for vehicle releases.
- [ ] The tow lot is only open Monday through Friday, from 7 a.m. - 10:30 p.m. Automated kiosks a

[2022-05-17 16:46] #1853 closed

[2022-05-17 16:55] davidrkupton commented on #2507
logs from Acquia:
[code]

[2022-05-17 19:21] ebshrier commented on #2507
Just noticed the website is again working (progress!). The remaining issue is a community mtg (CME TrkgID 202205-046) that was added to the WU is not displaying (note: The community mtg was added as a related object, not put into Chatter. I'm not sure if related objects get picked up by the integration).

[2022-05-18 13:00] stephaniemar commented on #2473
This has been fixed

[2022-05-18 13:03] stephaniemar commented on #2472
This looks good and has been fixed.

[2022-05-18 13:03] #2472 closed

[2022-05-18 13:27] duffy-james commented on #2350
@davidrkupton fixed this bug; closing ticket

[2022-05-18 14:02] davidrkupton commented on #2416
## Overview
The search component is a custom module: `bos_swifttype`.
The component is quite extensive provides code for all interacts with the swifttype API (an external service we use to scan and provide search services for content on our site).
This issue relates to modifying the output from the search and will not affect code which interacts with swifttype (via API's), meaning testing is minim

[2022-05-19 13:26] ebshrier commented on #2507
https://www.boston.gov/buildinghousing/174-176-boylston-23-dalrymple is down again.

![Image](https://user-images.githubusercontent.com/104999302/169304248-9f0d03c1-8bab-4ec3-8f60-dd3e449b1648.PNG)

[2022-05-19 14:10] duffy-james commented on #2434
Update made in Chatter on April 1 that includes a document that is not reflected in the live website. Looks like this is still out of sync.

[2022-05-19 17:59] stephaniemar commented on #2285
This is complete

[2022-05-19 18:04] #2299 closed

[2022-05-19 18:04] #2300 closed

[2022-05-19 18:04] #2301 closed

[2022-05-19 18:04] #2302 closed

[2022-05-19 18:04] #2303 closed

[2022-05-19 18:13] duffy-james commented on #2411
@ebshrier is this still an issue on your end?

[2022-05-19 18:53] #2304 closed

[2022-05-19 18:53] #2373 closed

[2022-05-19 19:14] davidrkupton commented on #2495
## CI environment:
- Added cron task to Acquia (`/usr/bin/wget -O - -q -t 1 https://d8-ci.boston.gov/salesforce_pull/endpoint/xxxxx &>> /var/log/sites/${AH_SITE_NAME}/logs/$(hostname -s)/salesforce.log`) to run every 5 mins
 - Added cron task to Acquia (`/usr/bin/wget -O - -q -t 1 https://d8-ci.boston.gov/salesforce_push/endpoint/xxxxx &>> /var/log/sites/${AH_SITE_NAME}/logs/$(hostname -s)/salesfo

[2022-05-19 19:19] duffy-james commented on #2495
@ebshrier the ci environment should be updated now with a potential fix if you want to test that out. The cron job is now running from our Acquia server instead of through Drupal.

We're still running updates every 5 minutes. We can technically speed that up (or down) in increments of minutes, but there is a concern about that creating a lot of requests to the website. If this continues to be a pa

[2022-05-19 19:42] ebshrier commented on #2495
Thanks James I'm in there now so I'll let you know how it goes.

[2022-05-20 15:38] subaha-cob commented on #2345
@duffy-james I cannot reproduce this bug. Is this still happening?

[2022-05-20 15:41] duffy-james commented on #2345
@subaha-cob looks like this is resolved, will close for now.

[2022-05-20 15:41] #2345 closed

[2022-05-20 18:31] stephaniemar opened #2512 "No Tow"

[2022-05-20 18:37] #2512 closed

[2022-05-23 13:21] ebshrier commented on #2507
@duffy-james This site is still not synching properly. Updates to the project, WU object and a related community event are all being missed.
Marketing needs to get postcards out, and need to know if the community event will be posted to the site. If not, they need to adjust the info they include on the postcards. Please let us know when you think the website will have the community event added to

[2022-05-23 14:17] ebshrier commented on #2495
@duffy-james Yeah, still not seeing updates at all in test environment either. I think for the time being, it would be great to get updates as close to real time as possible to at least take that variable out of the equation as we sort through this.

[2022-05-23 14:18] #2497 closed

[2022-05-24 12:21] ebshrier commented on #2411
Issue fixed. These are coming in correctly.
thanks

[2022-05-24 12:21] #2411 closed

[2022-05-25 19:14] duffy-james commented on #2342
tested on staging, looks good to me.

[2022-05-25 19:15] #2342 closed

[2022-05-25 19:23] duffy-james commented on #2349
@subaha-cob Title case is still being forced on boston.gov/news

[Here's an example of an updated post on staging](https://d8-stg.boston.gov/news/mayor-wu-provides-updates-city-efforts-mass-ave-and-melnea-cass). There's sentence case in Drupal:

![Image](https://user-images.githubusercontent.com/7929556/170351215-00a7d419-ee4d-40e1-85ad-d7f42d8ba327.png)

But on display, the title is still in titl

[2022-05-25 19:23] duffy-james commented on #2344
looks good to me on staging, closing this ticket.

[2022-05-25 19:25] duffy-james commented on #2343
this looks good to me on staging, closing ticket.

[2022-05-25 19:25] #2343 closed

[2022-05-25 19:32] duffy-james commented on #2341
@subaha-cob we may need to work on this one together.

Essentially, for the "news and announcements" component, I want the tablet view to be the same thing as what we do right now on [our news website](https://www.boston.gov/news). On the news site, the tablet view looks like this, with a 50 / 50 split:

![Image](https://user-images.githubusercontent.com/7929556/170352366-3c479b72-cb93-4ea5-a7d6-8

[2022-05-25 19:35] subaha-cob commented on #2349
Retest this please. I needed to reset the patterns Staging was pointing to again after every push to staging.

[2022-05-25 19:40] duffy-james commented on #2348
This still needs work. When I add the Car Share logo to the "program/initiative logo" section of a "program/initiative" page here:

![Image](https://user-images.githubusercontent.com/7929556/170353591-6433a1cb-407b-4b15-bede-7fd2ba247072.png)

It's still showing the full width of the logo image instead of resizing to fit the width of the sidebar:

![Image](https://user-images.githubusercontent.com

[2022-05-25 19:41] duffy-james commented on #2419
this looks good on staging, closing out.

[2022-05-25 19:41] #2419 closed

[2022-05-25 19:43] duffy-james commented on #2351
looks good to me, closing ticket

[2022-05-25 19:43] #2351 closed

[2022-05-25 19:45] duffy-james commented on #2349
looks good to me, closing ticket

[2022-05-25 19:45] #2349 closed

[2022-05-25 19:46] subaha-cob commented on #2341
It can be done.

[2022-05-25 20:16] subaha-cob commented on #2348
This is updated. Can you check this again @duffy-james.

[2022-05-25 20:30] duffy-james commented on #2348
[looks like that's working](https://d8-stg.boston.gov/departments/transportation/car-share-boston), Stella, closing this out

[2022-05-25 20:30] #2348 closed

[2022-05-26 11:02] duffy-james commented on #2507
One of the problems we were seeing with the sync were two records that were erroring out on import. This has something to do with bad data in a URL field that was causing the issues.

Alex logged into the MOH prod Salesforce environment and made a new dashboard/query to show all of the meetings and the two URL fields on them. Alex found the fields with bad data and cleared the Queue on Drupal for

[2022-05-26 13:22] duffy-james commented on #2434
@ebshrier One of the problems we were seeing with the sync were two records that were erroring out on import. This has something to do with bad data in a URL field that was causing the issues.

@padora-cob logged into the MOH prod Salesforce environment and made a new dashboard/query to show all of the meetings and the two URL fields on them. Alex found the fields with bad data and cleared the Que

[2022-05-26 13:28] duffy-james commented on #2507
@ebshrier Alex went ahead and manually fixed this project: https://www.boston.gov/buildinghousing/174-176-boylston-23-dalrymple-streets

The big issue is that data is not correct on the Salseforce side. The wrong web update object was deleted.

This is the Project on Drupal:

![Image](https://user-images.githubusercontent.com/7929556/170496373-4b93981b-d6d4-416e-b5af-dc3051442a78.png)

This is the

[2022-05-26 13:35] duffy-james commented on #2507
@ebshrier quick follow-up: @padora-cob went ahead and just did the re-association of objects in Drupal, since it looks like you folks put all your content updates in the WU in Salesforce that did not get deleted.

Alex re-associated the project, WU, and meeting in Drupal to the one that is not deleted. You can keep it as is for now. Updates for this project should now work going forward.

[2022-05-26 13:43] ebshrier commented on #2507
Thanks for explanation @davidrkupton @duffy-james . Bad data being the culprit doesn't surprise me, but tracking it down is a challenge. I had done a search for a URL field and didn't find it, but I don't think I looked on the meeting object.

As for the association between project and WU objects: There _shouldn't_ be two WUs associated with a project, but SF doesn't prevent you from doing it. If

[2022-05-26 14:20] duffy-james commented on #2507
@ebshrier one other issue was noted with this project: Changing the name of the project and then change it back to the original project name created an infinite loop redirect at one point. This is a separate issue from our existing sync issues.

We can handle name changes, but if you revert back to the original, you would need to let us know. We can make a change in Drupal to remove the infinite l

[2022-05-26 16:33] ebshrier opened #2517 "BH - 872 Morton Street synch"
We've deleted a broken photo link and a WU chatter from salesforce WU object, but both are still appearing on website.
Tried edit/save a few times, still not seeing the update. Would like to get internal info off webpage as soon as possible.
thanks
ethan

https://www.boston.gov/buildinghousing/morton-station-village-872-morton-street-homeownership
https://boston-dnd.lightning.force.com/lightning/r

[2022-05-26 16:40] ebshrier commented on #2517
Thanks @duffy-james added.

[2022-05-26 17:32] ebshrier commented on #2517
Looks like site is now updated!

[2022-05-26 18:38] #2517 closed

[2022-05-26 19:38] duffy-james opened #2518 "Investigate Building Housing Project Updates pull section"
While looking into the pull settings for Building Housing project updates, we noticed that the "Last Pull Date" was from March 3, 2021:

![Image](https://user-images.githubusercontent.com/7929556/170563064-da820505-3f1b-468a-a330-abaf4f1108ab.png)

The "Last Delete Date" appeared to be current, so to test it out, we clicked the "Reset Last Pull Date" button, but it didn't appear to do anything. We

[2022-05-26 19:46] duffy-james commented on #2274
@ebshrier this should be updated:

https://www.boston.gov/buildinghousing/37-wales-street

The duplicate photos were removed. There's just the two photos now in the top right.

Not 100 percent sure, but the issue may have been that the images were added as "attachments" as well as images in one of the updates. Drupal only accepts certain file types for attachments (.ppt, .pdf., .txt), not .jpg fil

[2022-05-26 19:46] duffy-james commented on #2273
@ebshrier this should be addressed:

https://www.boston.gov/buildinghousing/37-wales-street

Notes in Ticket #2274

[2022-05-26 19:57] duffy-james commented on #2244
@ebshrier please double check, but I believe the duplicates are all removed:

https://www.boston.gov/buildinghousing/parker-and-terrace

There were was duplicate images which are now deleted.

[2022-05-26 19:59] duffy-james commented on #1880
@ebshrier it seems like we can actually do this through Drupal. There's a role that exists for a "Metrolist editor" that (I assume) was created for this purpose. I'm going to confirm with @padora-cob.

[2022-05-26 20:01] duffy-james commented on #2365
@ebshrier can you double check this? This project should be cleaned up in Drupal:

https://www.boston.gov/buildinghousing/parker-and-terrace

[2022-05-26 21:10] ebshrier commented on #2274
Wait - Drupal doesn't accept jpgs?? I'm pretty certain there have been jpgs added to WUs... what about png files?

[2022-05-26 21:11] #2274 closed

[2022-05-26 21:14] ebshrier commented on #2244
Issue resolved

[2022-05-26 21:16] ebshrier commented on #1880
Thanks @duffy-james . Once confirmed, would like to know steps for users to follow to make these edits. thanks

[2022-05-27 11:54] duffy-james commented on #1880
Definitely agree, I just need to confirm what that role can and can't do before granting access. I should have an update by next week.

[2022-05-27 12:14] duffy-james opened #2519 "Content authors unable to add / edit components or upload photos"
There appears to be an issue where content authors are unable to add or edit components, or upload or search for any photos. I've also had content authors report that they're unable to open "discussion topics" or add documents to the "details" section of the "public notices" content type.

As an example, a user sent a screenshot saying that they couldn't click the "edit" button here in a component

[2022-05-27 12:17] duffy-james commented on #2519
@davidrkupton I wonder if this is potentially related to ticket #2498

[2022-05-27 13:54] #2507 closed

[2022-05-27 14:03] ebshrier opened #2520 "WEST END LIBRARY synch"
Another project for which changes are not appearing in Drupal.

Issues are
- Site is not appearing on map
- A WU chatter entry was deleted but still appears on site (the May 18 entry)

Note: A second WU object was added to this site and then deleted same day it was created. The original WU object is what remains.

https://boston-dnd.lightning.force.com/lightning/r/Project__c/a048b00000cdoyfAAA/vie

[2022-05-27 14:56] davidrkupton commented on #2519
The latest update to contributed module `drupal/honeypot` (2.0.2 => 2.1.0) in last maintenance release (#2515 ) seems to be causing the issue.

I have rolled back honeypot to 2.0.2 which also caused composer to reinstall `drupal/paragraphs_edit` (v2.0.0). Given the name of the module, paragraphs_edit is likely to be the module at the root of the error and it was updated from 2.0.0-beta1 during the

[2022-05-27 15:28] duffy-james commented on #2519
Going to reopen this until we confirm it's fixed.

[2022-05-27 16:08] davidrkupton commented on #2519
This PR locks honeypot at v2.0.2 and stops it upgrading past that version.  I need to do some review on why it affects our Drupal installation when upgraded to 2.1.0.

In the meantime, as well as that fix I have relaxed the honeypot setting so that authenticated users do not have honeypots added to their forms.  This also solved the problem, even for honeypot v2.1.0.

I have discovered that Honeyp

[2022-05-27 16:16] duffy-james commented on #2519
Closing this one out. Need to create a separate ticket for investigating the honeypot configuration.

[2022-05-27 16:16] #2519 closed

[2022-05-31 12:45] duffy-james commented on #2520
@ebshrier I was able to remove the extra chatter entry, but I'm not sure why the project isn't showing up on the map, but my guess is that has to do with the second WU object. Will run this by @padora-cob

[2022-06-02 13:00] davidrkupton commented on #1003
Re-opening this ticket.  I am not sure if Acquia did this for us or not, I can ask them if there is a custom 500 error.
Also 2 other points:
1. web services such as commissions app should have some better error handling, and we should look into how they can generate error messages that the Drupal framework can accept and display, and
2. I can see that Drupal 9 has some additional error handling so

[2022-06-02 13:09] davidrkupton commented on #1003
https://drupal.stackexchange.com/questions/248924/custom-500-error-page-is-there-a-way-to-theme-a-fatal-error

Last couple of posts may provide a way for us to add a last-defense catch all for errors, and process them prior to the code failing into Drupals default 500 state.  This may allow us to redirect to a custom page holding the desired error message.

I am 50% hopeful this would work, the 50

[2022-06-02 14:47] duffy-james commented on #2353
@subaha-cob

@davidrkupton Fixed this as part of an update for ticket #2413

[2022-06-02 14:47] #2353 closed

[2022-06-02 14:52] duffy-james commented on #2324
@subaha-cob closing this out since its addressed in ticket #2352

[2022-06-02 15:03] duffy-james commented on #2205
@subaha-cob this was fixed in ticket #2342

[2022-06-02 15:03] #2205 closed

[2022-06-02 15:06] subaha-cob opened #2526 "My Neighborhood content update"
Swap out Winter cards with Summer cards.
https://www.boston.gov/my-neighborhood?p3

[2022-06-03 18:32] duffy-james commented on #2520
@ebshrier thanks for flagging, we'll investigate further

[2022-06-06 11:56] duffy-james commented on #2526
@subaha-cob sounds good, Stella. Thanks for swapping that out.

[2022-06-06 12:04] duffy-james commented on #2457
Fixe in ticket #2342

[2022-06-06 12:04] #2457 closed

[2022-06-06 12:13] duffy-james commented on #2192
@subaha-cob did you address this bug already? I'm not seeing it one the site.

[2022-06-06 12:19] duffy-james commented on #2148
@subaha-cob was this taken care of? Can I close the ticket?

[2022-06-06 12:23] duffy-james commented on #2102
@subaha-cob looks like this one was already pushed to production, closing out now.

[2022-06-06 12:23] #2102 closed

[2022-06-06 12:36] duffy-james commented on #778
@subaha-cob looks like you addressed this -- we also have another ticket for this one.

[2022-06-06 12:36] #778 closed

[2022-06-06 12:46] subaha-cob commented on #2192
@duffy-james This was addressed earlier this year when the sidebar was updated.

[2022-06-06 12:47] subaha-cob commented on #2148
@duffy-james this was also addressed when we removed legacy CSS.

[2022-06-06 12:48] subaha-cob commented on #2102
Yes this was pushed already.

[2022-06-06 19:18] #2192 closed

[2022-06-06 19:25] #2148 closed

[2022-06-07 12:38] duffy-james opened #2527 "New social media icons needed for Boston.gov"
In our "add social media links" sidebar component, users are given the option to add Twitter, Facebook, Instagram, YouTube, Flickr, Tumblr, and TikTok. We need to add two more options: Glassdoor and LinkedIn.

Next steps:

- [x] @carolinestj please provide updated .svg versions of the attached icons matching the City of Boston brand.
- [x] Once we have the correct designs, @davidrkupton or @subaha

[2022-06-08 12:05] duffy-james commented on #2412
@davidrkupton @stephaniemar we've had more folks reporting errors with the breadcrumbs on the site. Can we prioritize this one?

[2022-06-08 12:14] stephaniemar commented on #2412
@duffy-james David is out today, is this something that @phillipbentonkelly can look into?

[2022-06-08 12:18] duffy-james commented on #2412
I don't think so -- it's very specific to Drupal. We'll have to wait for David to get back.

[2022-06-09 16:50] ebshrier opened #2529 "Metrolist submission form bugs"
There are several bugs that need to be fixed on the Metrolist submission form. You can access the form here:
https://www.boston.gov/form/metrolist-listing?token=FI3igpCq4Ljlowp0GE5yMiC67HiNRoC6fpQrKSL223I

Note: page numbers relate to progress bar at top of form.
Browser: Chrome

Pg 1:
- Notification popup covers text and cannot be closed. It appears across all pages. see submission1
- Not clear w

[2022-06-09 16:51] ebshrier commented on #2529
![Image](https://user-images.githubusercontent.com/104999302/172901587-e2578938-7029-4718-99ea-e868a7a71268.PNG)
![Image](https://user-images.githubusercontent.com/104999302/172901588-bf980a6c-3aaa-44fb-9bbe-bee4f9937886.PNG)

[2022-06-09 16:54] duffy-james commented on #2529
These tickets are also related: #2494 and #2493

[2022-06-09 18:10] davidrkupton opened #2530 "Create better link for Status Item message"
Jira link: https://bostondoit.atlassian.net/browse/DIG-94

## Issue
 - [ ] Remove "link" field from the API.
 - [ ] Add "More Information" clickable-text link to message body

The connected-bits mobile app (311 App) receives the status item message data feed from the Drupal API (API Feed).  The 311 App processes that feed and displays the content. If the body of the message from the API Feed is lo

[2022-06-09 18:28] davidrkupton commented on #2530
## Proposed Resolution

1. Because the links generally lead to generic pages describing the service related to the status item, and not to the status item "state" itself we should not provide a URL (to the boston.gov page related to the status item) in the links field in the API Feed.  E.g. if street sweeping is cancelled, following the link for that message just takes the user to a page describin

[2022-06-09 19:41] stephaniemar commented on #2530
@juliagtzp this is the ticket David wrote up to update the API work so the service alerts in the BOS311 app are not URL links. We suggest adding a More Information Link at the bottom of the service alert with the appropriate URL to allow the user to navigate to boston.gov for more information.

[2022-06-09 20:14] davidrkupton commented on #2490
## Resources
[Drupal Translation Management Tool](https://www.drupal.org/project/tmgmt)
[Walk through](https://www.amazeelabs.com/en/journal/multilingual-drupal-part-1-process) by AmazeLabs

for [localization](https://www.drupal.org/community/contributor-guide/reference-information/localize-drupal-org) of Drupal itself
- Need to `drush en locale` to get string translations.

[2022-06-10 15:58] stephaniemar commented on #2530
@davidrkupton -- couple of questions:
1. We can control whether the 'More Information" link shows on an alert but it is available for all alerts if we want via the API?
2.  Option 3 does this mean James can add a URL to any status alert and it will be passed through the API,  the there is no development here when we want to update and show the More Information link?

[2022-06-10 16:06] davidrkupton commented on #2530
@stephaniemar Without option 3 the content editor would have no control over whether the link appeared on any particular message.  It would be hard-coded and need a developer to change (there would be a default set for new messages).
These proposed changes only affect the API - all other uses/implementations of the status items (e.g. on homepage) are unchanged.

[2022-06-10 16:15] davidrkupton commented on #2530
Yes.
I propose to add 2 fields to the message in the backend:
[1] a checkbox: "Add this Link to 311 API message body", and
[2] a field in which the content editor can specify the url for the link.
If the checkbox is not checked then the "More Information" link is not appended to the message body.  If the box is checked then the "More Information" link will be appended, and clicking it will redirec

[2022-06-10 17:24] stephaniemar commented on #2530
Perfect, thanks for the explanation, very helpful @davidrkupton

[2022-06-10 18:15] juliagtzp commented on #2530
This sounds like a great solution!! Let's do it

[2022-06-10 18:29] ebshrier opened #2531 "Metrolist Submission Form enhancements"
Requested enhancements to Listing Submission form:

Enhancement: No ADA vision carve outs. Should be removed from listing form.
Enhancement: PBV (project based voucher) Currently, rent amount entered by POs is full contract amount, not amount a renter would actually pay (e.g. might be 30% of household income). Need ability to toggle between $amount OR “Project based voucher”
Also:
- Double entry o

[2022-06-13 18:13] subaha-cob commented on #1169
@duffy-james this is on UAT
https://d8-uat.boston.gov/

[2022-06-13 18:18] subaha-cob commented on #2191
@duffy-james I fixed the issues with the tabs tittle, but given the conversation above, this may require further discussion. I feel strongly we should look at "How to Guides" in general because for a module we just built, it shouldn't have this much problems.

[2022-06-13 18:21] subaha-cob commented on #2218
@duffy-james This is multiple issues. Some are already in another ticket. ([https://github.com/orgs/CityOfBoston/projects/54/views/4](url)

[2022-06-15 22:46] davidrkupton commented on #2520
Comments in [Jira](https://bostondoit.atlassian.net/browse/DIG-41)

[2022-06-16 11:26] duffy-james commented on #2520
@ebshrier Notes from @davidrkupton in Jira:

### Resolution

The record needs to have a Disposition Type which is not in the list appended to this comment.

Changing the `Disposition Type` to `Other` solved the problem on my local environment.

### Knowledgebase

The map is generated from a “Building Housing Maps” view display which is at /admin/structure/views/view/bhmaps/edit/livemap.

### Full

[2022-06-17 18:09] duffy-james commented on #2495
@ebshrier quick update: @davidrkupton has a fix on CI that seems to be helping with sync issues for the main project or events. He's now working on the updates (taken from chatter feeds) that seem to have issues handling attachments.

[2022-06-23 15:21] duffy-james commented on #2520
@ebshrier we can't find the images in the web update in Salesforce or any images in Drupal, but that could just be on us. Can you check to see if the images are there in Salesforce and point @davidrkupton to them? I want to see if we can make the sync work before I add them directly to Drupal.

[2022-06-23 16:06] ebshrier commented on #2520
@duffy-james Images may have been taken down. I've pinged Joe to find out if he still wants photos uploaded.
There is a slide deck .pdf attached in files that isn't appearing on website. Thanks

[2022-06-23 19:35] ebshrier commented on #2520
@duffy-james Just confirmed with Joe, no images to post. It's the slide deck pdf that he wants showing up. thanks

[2022-06-24 11:20] duffy-james commented on #2520
@ebshrier got it, thanks Ethan. I'll touch base with David on this one again.

[2022-06-27 18:15] carolinestj commented on #2527
@stephaniemar hoping to make them this week!

[2022-06-27 18:27] stephaniemar commented on #2527
Great, Thanks @carolinestj!

[2022-06-29 18:49] davidrkupton commented on #2529
This is now on ci [https://d8-ci.boston.gov:](http://d8-ci.boston.gov/)

https://d8-ci.boston.gov/departments/neighborhood-development/metrolist/metrolist-listing-form

[2022-06-30 13:34] #2420 closed

[2022-06-30 13:48] #2434 closed

[2022-06-30 13:49] #2496 closed

[2022-06-30 14:44] carolinestj commented on #2527
@stephaniemar See if these work!
![glassdoor](https://user-images.githubusercontent.com/22770827/176706831-e8a59dfe-4878-49f8-9f26-a91c113f9df0.svg)
![linkedin](https://user-images.githubusercontent.com/22770827/176706836-60aeaeed-fca1-461f-ac4e-6c4c7eea1976.svg)

[2022-06-30 16:39] ebshrier commented on #2529
Testing notes:

Resolved issues:
- Initial "error" message no longer appears.
- Styling looks good throughout. Drawers on summary screen are good.
- Apostrophe doesn't cause submission error.

Open Issues:
- Step 5 Unit Details: The example "View Screenshot" image link is broken.
(https://user-images.githubusercontent.com/104999302/176711136-3323195c-a93b-4442-af8d-20a6dedfa0b0.PNG)
- Step 2: When

[2022-06-30 16:42] ebshrier commented on #2493
Issues are fixed. Closing ticket

[2022-06-30 16:43] ebshrier commented on #2520
Files now appearing on site.

[2022-06-30 16:43] #2520 closed

[2022-06-30 16:55] duffy-james commented on #2529
@ebshrier one note on the broken image error -- that may be the result of you being on a test environment. Can you confirm that's also not working on production?

[2022-07-01 15:56] ebshrier commented on #2529
@duffy-james Good call. Alas, image is broken in production as well.
@davidrkupton The pdf issue is the biggest blocker at the moment. If this issue can be resolved before next wednesday's release that would be great. Let me know if you need more info.
thanks

[2022-07-01 17:57] davidrkupton commented on #2529
Hi @ebshrier , I think the screenshot in the last comment is from prod, so we expect the error messages to be a bit funky until we put the code from CI to Prod.
I would test on CI if I were you, as that is where I am continuing to add new code as I resolve issues.

[2022-07-05 13:14] davidrkupton commented on #2529
Hi @ebshrier could you please supply a copy of the image you would like on step 5 of the metrolist form.  The one which should appear here:
![image](https://user-images.githubusercontent.com/4700050/177336254-027dce07-8625-4e6b-adef-2e02a806e4b4.png)

[2022-07-05 13:35] davidrkupton commented on #2529
Hi @ebshrier I also think the PDF issue is solved on the CIU version.  I was just able to upload a PDF there.  Are you trying to upload one which is >25MB?

[2022-07-05 15:25] duffy-james commented on #2529
@ebshrier can you answer these questions when you get a moment:

1. Are you testing on the [CI version of the Metrolist form](https://d8-ci.boston.gov/departments/neighborhood-development/metrolist/metrolist-listing-form)?
2. Can you share the screenshot of the image you're [expecting to see here](https://user-images.githubusercontent.com/104999302/176711136-3323195c-a93b-4442-af8d-20a6dedfa0b0.PN

[2022-07-05 15:30] ebshrier commented on #2529
Hi @davidrkupton @duffy-james
I don't actually know what or where that image is. I believe it was working recently, but I'll have to ask around to see if anyone knows what it should be.
I was testing on the CI version. I did note an error in the production form last week that I hadn't seen before, but it may be addressed by the fixes currently in CI.
My testing has been with pdfs smaller than 25MB

[2022-07-05 15:36] ebshrier commented on #2529
Never the mind. Here's an image you can use.

![2529UnitExample](https://user-images.githubusercontent.com/104999302/177365150-332f6cbf-c3f5-432e-bd6f-df0646219e7f.PNG)

[2022-07-05 19:49] ebshrier commented on #2529
Hi @davidrkupton  The pdf issue is still there. Just realized you were thinking the problem was with uploading a file to the application. That works. The problem arises when you submit the application - it never goes through to Salesforce.

[2022-07-06 15:15] duffy-james commented on #2529
@ebshrier thanks for clarifying that point about the pdfs -- David is looking into it now.

[2022-07-06 17:33] davidrkupton commented on #2529
@ebshrier a question:
When the form is submitted, it looks like 2 things happen: Firstly an email is sent and secondly a record is added to salesforce.

1. Acquia/Drupal upgraded its email system recently and I think that could be why the pdf attachment is not added to the email that is sent.  I can fix that and will do so.
2. It seems that when the form is submitted, a new salesforce case is crea

[2022-07-12 13:10] ebshrier opened #2574 "WILLIAM BARTON ROGERS project synch"
There are 12 photos listed on the website, but only 3 files in the website updated. Please resynch to remove duplicates. Thanks

https://www.boston.gov/buildinghousing/william-barton-rogers-middle-school-pryde
https://boston-dnd.lightning.force.com/lightning/r/Website_Update__c/a560y000000WILMAA4/view

[2022-07-12 15:01] davidrkupton commented on #2574
I will of course try to stop duplicates from being created in the first place, but this is a good example reason why a metrolist author role might exist, allowing MOH staff be able to modify Drupal records for metrolist and Building Housing apps.

[2022-07-13 19:33] #2574 closed

[2022-07-13 19:50] ebshrier opened #2588 "Update AMI Rate table & calculation"
We need to update the BPDA rate table (again). The table needs to be updated in the AMI calculator (https://www.boston.gov/metrolist/ami-estimator) and on the Income Restricted page (https://www.boston.gov/income-restricted-housing-guide)

The table to use can be found here: http://www.bostonplans.org/housing/income-asset-and-price-limits

### Summary of how AMI works and current state as of 7/15/

[2022-07-14 14:22] duffy-james commented on #2588
I'll pick this up, Ethan.

[2022-07-14 17:02] ebshrier opened #2592 "Remove duplicate files from Project"

[2022-07-14 18:51] duffy-james commented on #2588
@ebshrier can you double check this? It should be set now:

https://www.boston.gov/income-restricted-housing-guide

[2022-07-14 20:08] ebshrier commented on #2588
Hi @duffy-james Numbers in table look correct, I'll have to check calculator. However, the AMI order on left is out of whack. Starts with 60%, then 30.

[2022-07-15 13:13] duffy-james commented on #2588
@ebshrier I noticed that as well -- I wasn't sure if it was intentional. That should be set now, though:

https://www.boston.gov/income-restricted-housing-guide

Everything is in order as far as I can tell and the numbers should be updated. @davidrkupton can we make sure the settings for that [Metrolist: AMI view](https://content.boston.gov/admin/structure/views/view/metrolist_ami/edit/ami_table_h

[2022-07-15 15:04] ebshrier commented on #2588
Hi @duffy-james table looks good. thanks.
The calculator, however, doesn't seem to be updated with new rates. Can you confirm those were updated as well?

[2022-07-15 15:29] davidrkupton commented on #2588
Hi Ethan

James is out today
I'll take a look at this in a few mins.

David.

On Fri, Jul 15, 2022 at 11:04 AM ethan shrier ***@***.***>
wrote:

--

[image: COB_B_Blue_square-01.png]

David Upton

Digital Team / Operations Team

Department of Innovation and Technology

781 330 5041 (c)

[2022-07-15 20:34] ebshrier opened #2595 "Calendar Events causing 503 error on project page"
When a calendar event is added to a web update in Salesforce, the drupal project page throws a 503 error. This was an issue if TBD was entered into URL field, but now occurs any time the calendar event is created.
Jira ticket: DIG-431

[2022-07-21 13:22] ebshrier opened #2603 "Multiple file uploads created by re-synch"
When a project is resynched, the CRON job reuploads documents that have already been uploaded, creating multiple copies of a file in both the image preview and on the timeline.

[2022-07-21 14:03] duffy-james commented on #2595
@ebshrier This event should be displaying properly now: https://www.boston.gov/buildinghousing/251-255-259-washington-street

Events should be displaying properly now.

[2022-07-21 14:28] duffy-james commented on #2588
Next steps:

- [ ] Only have BPDA table showing on the page (remove HUD); rename it to something else
- [ ] [Fields F5 - M10](https://docs.google.com/spreadsheets/d/190UYOANxp59q3G1cRy962tyYcBhv_k_v55mWk154XKQ/edit#gid=0) are displayed in table (one and only one table)
- [ ] Add this language to the top of the one table: "The Area Median Incomes used for this estimator are as follows (update date)

[2022-07-22 14:06] duffy-james commented on #2595
@ebshrier these should be fixed as well. @davidrkupton deployed a hotfix last night to address this, and also knows what the overall problem was that was breaking these pages with events. There was logic around a character limit issue related to the events, but that has been addressed.

[2022-07-22 15:07] duffy-james commented on #2588
@ebshrier just confirming I addressed the first few items related to the AMI in our next steps. [You can see the changes on the site](https://www.boston.gov/income-restricted-housing-guide).

One question for you is the description above the table. I tweaked the language slightly and added a link to the estimator itself. Let me know what you think.

[2022-07-22 15:26] ebshrier commented on #2588
Hi @duffy-james Looks good! I'm happy we only have one table now.
On a second reading, some of Tim's language is a little awkward. Since you asked, here's my preferred version (but I'm not going to squawk one way or the other at this point).

"Each agency calculates AMI slightly differently. Our AMI estimator uses the following Area Median Income thresholds (updated 7/22/2022). Click here to see t

[2022-07-22 15:30] duffy-james commented on #2588
@ebshrier would you mind if it was slightly tweaked [to this](https://www.boston.gov/income-restricted-housing-guide)?

"Each agency calculates AMI slightly differently. [Our AMI estimator](https://www.boston.gov/metrolist/ami-estimator) uses the following Area Median Income thresholds (updated 7/22/22). [View the full dataset](https://www.boston.gov/departments/housing/housing-and-urban-developme

[2022-07-22 15:55] ebshrier commented on #2588
Perfect.

[2022-07-22 18:46] ebshrier opened #2606 "Calendar events do not show physical location"
Calendar events are not showing the physical address of the event, and instead say the event is being held virtually. These need to grab the physical address (field name = "Address") from the calendar event object. (Note: the address field is a single field for all street, city and zip info, which may be the reason...?)

https://www.boston.gov/calendar/community-celebration-food-fun-and-site-devel

[2022-08-01 20:38] ebshrier commented on #2606
Hi @duffy-james @davidrkupton  have you had a chance to look into this?
thanks

[2022-08-02 15:27] duffy-james commented on #2606
@ebshrier we were able to just go ahead and update the location in the calendar event:

https://www.boston.gov/calendar/community-celebration-food-fun-and-site-development-discussion-0

@davidrkupton is going to look into what's happening that's preventing the address from coming over, but that should at least be resolved for this specific event. Let us know if there are others where the address f

[2022-08-16 15:45] ebshrier opened #2662 "Remove duplicate Metrolist Listings"
Three duplicate listings are appearing on Metrolist for the same Salesforce Development. Please delete 2 of them.
Development: Lighthouses

https://www.boston.gov/metrolist/search
https://www.boston.gov/metrolist/search/housing/lighthouses?type=rent&assignment=lottery
https://boston-dnd.lightning.force.com/lightning/r/Development__c/a4r8b000006AhiTAAS/view

![Image](https://user-images.githubuserc

[2022-08-18 13:29] ebshrier commented on #2529
Closing ticket. Additional bug tracking will be done in Jira.

[2022-08-18 13:29] #2529 closed

[2022-08-18 20:25] ebshrier commented on #2531
Closing ticket. Enhancements will be tracked in Jira.

[2022-08-18 20:25] #2531 closed

[2022-08-30 16:51] #2477 closed

[2022-08-30 16:52] #2527 closed

[2022-08-30 16:58] #2352 closed

[2022-08-30 16:58] #2341 closed

[2022-08-30 16:59] #2273 closed

[2022-08-30 16:59] #2253 closed

[2022-08-31 13:50] #2431 closed

[2022-08-31 13:53] duffy-james commented on #2416
Moved this over to jira; closing ticket now.

[2022-08-31 14:13] duffy-james commented on #2412
Closing this ticket out. It's already accounted for in Jira.

[2022-08-31 14:13] #2412 closed

[2022-08-31 14:15] duffy-james commented on #2218
Closing this ticket; @subaha-cob has been making updates and they're accounted for in Jira.

[2022-08-31 14:15] #2218 closed

[2022-08-31 14:18] duffy-james commented on #2191
@subaha-cob addressed this; the work is accounted for in Jira. Closing the ticket now.

[2022-08-31 14:18] #2191 closed

[2022-08-31 14:22] duffy-james commented on #2186
Closing this ticket. The information has moved to Jira.

[2022-08-31 14:22] #2186 closed

[2022-08-31 14:24] duffy-james commented on #2178
Closing this out. The information has moved to a Jira ticket.

[2022-08-31 14:24] #2178 closed

[2022-08-31 14:25] duffy-james commented on #2177
Closing this; ticket now accounted for in Jira.

[2022-08-31 14:25] #2177 closed

[2022-08-31 14:26] duffy-james commented on #2167
This is fixed. @subaha-cob addressed this bug.

[2022-08-31 14:26] #2167 closed

[2022-08-31 14:27] duffy-james commented on #825
@subaha-cob addressed this bug. Closing ticket now.

[2022-08-31 14:33] duffy-james commented on #2115
Closing this ticket; now accounted for in Jira.

[2022-08-31 14:33] #2115 closed

[2022-08-31 14:33] duffy-james commented on #2022
@subaha-cob addressed this issue; we're all set.

[2022-08-31 14:33] #2022 closed

[2022-08-31 14:39] duffy-james commented on #1357
Closing this ticket; it's accounted for in Jira.

[2022-08-31 14:39] #1357 closed

[2022-08-31 14:45] duffy-james commented on #1144
Closing this ticket out; now accounted for in Jira

[2022-08-31 14:45] #1144 closed

[2022-08-31 14:48] #680 closed

[2022-08-31 14:49] duffy-james commented on #2366
Closing this out; @davidrkupton has worked through these issues. The work is accounted for in Jira.

[2022-08-31 14:49] #2366 closed

[2022-08-31 14:55] duffy-james commented on #679
Closing this ticket out; now accounted for in Jira.

[2022-08-31 14:55] #679 closed

[2022-08-31 14:59] duffy-james commented on #2502
Closing ticket; now accounted for in Jira

[2022-08-31 14:59] #2502 closed

[2022-08-31 15:06] duffy-james commented on #2360
this appears to be working and I have not received any recent complaints; closing ticket

[2022-08-31 15:06] #2360 closed

[2022-08-31 15:06] duffy-james commented on #2526
closing this out, @subaha-cob update this

[2022-08-31 15:06] #2526 closed

[2022-08-31 15:33] duffy-james commented on #2242
@ebshrier I just saw this issue in the backlog and addressed this. That rotation issue is related to all images in Drupal. When you upload an image with a big file size, it sometimes rotates. We usually recommend folks upload images with a max width of 2000 px.

[2022-08-31 15:37] subaha-cob commented on #2317
Yes you can @duffy-james

[2022-08-31 15:51] #2317 closed

[2022-08-31 15:51] #2236 closed

[2022-08-31 15:52] #2595 closed

[2022-08-31 15:54] duffy-james commented on #2588
I believe this ticket has been addressed, but feel free to open back up if not, Ethan.

[2022-08-31 15:54] #2588 closed

[2022-08-31 15:55] duffy-james commented on #2365
Closing this ticket for now; there are relevant syncing tickets in Jira.

[2022-08-31 15:55] #2365 closed

[2022-08-31 15:56] #1926 closed

[2022-08-31 15:56] #1971 closed

[2022-08-31 15:58] duffy-james commented on #2006
@davidrkupton has done some work on url validation issues. This hasn't been a recent problem.

[2022-08-31 15:58] #2006 closed

[2022-08-31 16:00] #2017 closed

[2022-08-31 16:01] #2077 closed

[2022-08-31 16:01] #2089 closed

[2022-08-31 16:02] #2228 closed

[2022-08-31 16:03] duffy-james commented on #2494
Closing this ticket; related issue was addressed and bug tracking is now in Jira.

[2022-08-31 16:04] duffy-james commented on #2424
Closing this ticket; we have a few different tickets related to addressing sync issues in Jira.

[2022-08-31 16:04] #2424 closed

[2022-08-31 16:05] #2231 closed

[2022-08-31 16:08] duffy-james commented on #2176
Closing this ticket; it's now accounted for in Jira.

[2022-08-31 16:08] #2176 closed

[2022-08-31 16:08] #2230 closed

[2022-08-31 16:09] duffy-james commented on #2149
@subaha-cob addressed this issue; closing ticket

[2022-08-31 16:09] #2149 closed

[2022-08-31 16:18] duffy-james commented on #2046
@subaha-cob took care of this; closing ticket

[2022-08-31 16:18] #2046 closed

[2022-08-31 16:18] #1933 closed

[2022-08-31 16:22] duffy-james commented on #1880
This ticket is related to our existing sync issues which we continue to work on. Closing this for now.

[2022-08-31 16:22] #1880 closed

[2022-08-31 16:24] duffy-james commented on #1806
@subaha-cob has this been addressed? If not, I can create a ticket in Jira.

[2022-08-31 16:25] duffy-james commented on #1110
This can be closed, options were remove for "content authors" from the sidebar.

[2022-08-31 16:25] #1110 closed

[2022-08-31 16:26] duffy-james commented on #1889
Closing this out for now

[2022-08-31 16:33] duffy-james commented on #322
Closing this ticket; work is now being accounted for in Jira.

[2022-08-31 16:33] #322 closed

[2022-08-31 16:34] duffy-james commented on #1306
@subaha-cob fixed this; closing the ticket

[2022-08-31 16:34] #1306 closed

[2022-08-31 16:35] duffy-james commented on #1169
@subaha-cob fix this; closing issue

[2022-08-31 16:35] #1169 closed

[2022-08-31 16:37] duffy-james commented on #1003
We have a Jira ticket for this work; closing this for now

[2022-08-31 16:37] #1003 closed

[2022-08-31 16:38] duffy-james commented on #774
there's a ticket for this in Jira; closing this for now

[2022-08-31 16:38] #774 closed

[2022-08-31 16:48] duffy-james commented on #1096
closing this ticket; info is moved over to Jira

[2022-08-31 16:48] #1096 closed

[2022-08-31 16:52] duffy-james commented on #1051
Looks like Alex addressed this in 2021. I don't see this as an existing issue.

[2022-08-31 16:52] #1051 closed

[2022-08-31 16:58] duffy-james commented on #1089
Closing this ticket; info is now in Jira

[2022-08-31 16:58] #1089 closed

[2022-08-31 17:03] #2503 closed

[2022-09-08 16:30] duffy-james commented on #1809
Closing issue for now.

[2022-09-08 16:30] #1809 closed

[2022-09-08 16:34] duffy-james commented on #1716
Closing issue for now.

[2022-09-08 16:34] #1716 closed

[2022-09-08 16:34] duffy-james commented on #1658
Closing issue for now.

[2022-09-08 16:34] #1658 closed

[2022-09-08 16:35] duffy-james commented on #2606
Closing issue; addressed in Jira.

[2022-09-08 16:35] #2606 closed

[2022-09-08 16:35] #1681 closed

[2022-09-08 16:35] duffy-james commented on #1718
Closing issue for now.

[2022-09-08 16:35] #1718 closed

[2022-09-08 16:37] duffy-james commented on #1786
Closing issue for now.

[2022-09-08 16:37] #1786 closed

[2022-09-08 16:37] duffy-james commented on #1787
Closing issue for now.

[2022-09-08 16:37] #1787 closed

[2022-09-08 16:37] duffy-james commented on #1892
Closing issue for now.

[2022-09-08 16:37] duffy-james commented on #1947
Closing issue for now.

[2022-09-08 16:37] #1947 closed

[2022-09-08 16:37] duffy-james commented on #1924
Closing issue for now.

[2022-09-08 16:37] #1924 closed

[2022-09-08 16:37] duffy-james commented on #1886
Closing issue for now.

[2022-09-08 16:37] #1886 closed

[2022-09-08 16:37] duffy-james commented on #2241
Closing issue for now.

[2022-09-08 16:37] #2241 closed

[2022-09-08 16:37] duffy-james commented on #2603
Closing issue for now.

[2022-09-08 16:37] #2603 closed

[2022-09-08 16:38] duffy-james commented on #2518
Closing issue for now.

[2022-09-08 16:38] #2518 closed

[2022-09-08 16:38] duffy-james commented on #2495
Closing issue for now.

[2022-09-08 16:38] #2495 closed

[2022-09-08 16:39] duffy-james commented on #2263
Closing issue for now.

[2022-09-08 16:39] #2263 closed

[2022-09-08 16:40] duffy-james commented on #2257
Closing issue for now.

[2022-09-08 16:40] #2257 closed

[2022-09-08 16:40] duffy-james commented on #2235
Closing issue for now.

[2022-09-08 16:40] #2235 closed

[2022-09-08 16:40] duffy-james commented on #2232
Closing issue for now.

[2022-09-08 16:40] #2232 closed

[2022-09-08 16:41] duffy-james commented on #2229
Closing issue for now.

[2022-09-08 16:41] #2229 closed

[2022-09-08 16:41] duffy-james commented on #2051
Closing issue for now.

[2022-09-08 16:41] #2051 closed

[2022-09-08 16:41] #2245 closed

[2022-09-08 16:42] duffy-james commented on #1890
Closing issue for now.

[2022-09-08 16:42] #1890 closed

[2022-09-08 16:43] duffy-james commented on #1900
Closing issue for now.

[2022-09-08 16:43] #1900 closed

[2022-09-08 16:43] duffy-james commented on #1875
Closing issue for now.

[2022-09-08 16:43] #1875 closed

[2022-09-08 16:43] #1871 closed

[2022-09-08 16:43] duffy-james commented on #1769
Closing issue for now.

[2022-09-08 16:43] #1769 closed

[2022-09-08 16:44] duffy-james commented on #1763
Closing issue for now.

[2022-09-08 16:44] #1763 closed

[2022-09-08 16:44] duffy-james commented on #1717
Closing issue for now.

[2022-09-08 16:44] #1717 closed

[2022-09-08 16:44] duffy-james commented on #1635
Closing issue for now.

[2022-09-08 16:44] #1635 closed

[2022-09-08 16:44] duffy-james commented on #1620
Closing issue for now.

[2022-09-08 16:44] #1620 closed

[2022-09-08 16:44] duffy-james commented on #1579
Closing issue for now.

[2022-09-08 16:44] #1579 closed

[2022-09-08 16:44] duffy-james commented on #1577
Closing issue for now.

[2022-09-08 16:44] #1577 closed

[2022-09-08 16:44] duffy-james commented on #1576
Closing issue for now.

[2022-09-08 16:44] #1576 closed

[2022-09-08 16:44] duffy-james commented on #1558
Closing issue for now.

[2022-09-08 16:44] #1558 closed

[2022-09-08 16:44] duffy-james commented on #1555
Closing issue for now.

[2022-09-08 16:44] #1555 closed

[2022-09-08 16:45] duffy-james commented on #1517
Closing issue for now.

[2022-09-08 16:45] duffy-james commented on #1515
Closing issue for now.

[2022-09-08 16:45] #1515 closed

[2022-09-08 16:45] duffy-james commented on #1503
Closing issue for now.

[2022-09-08 16:45] #1503 closed

[2022-09-08 16:45] duffy-james commented on #1501
Closing issue for now.

[2022-09-08 16:45] #1501 closed

[2022-09-08 16:45] duffy-james commented on #1499
Closing issue for now.

[2022-09-08 16:45] #1499 closed

[2022-09-08 16:45] duffy-james commented on #1498
Closing issue for now.

[2022-09-08 16:45] #1498 closed

[2022-09-08 16:45] duffy-james commented on #1497
Closing issue for now.

[2022-09-08 16:45] #1497 closed

[2022-09-08 16:45] duffy-james commented on #1496
Closing issue for now.

[2022-09-08 16:45] #1496 closed

[2022-09-08 16:45] duffy-james commented on #1458
Closing issue for now.

[2022-09-08 16:45] #1458 closed

[2022-09-08 16:46] duffy-james commented on #1715
Closing issue for now.

[2022-09-08 16:46] #1715 closed

[2022-09-14 13:44] stephaniemar commented on #2530
Closing this ticket as the work has been documented in Jira for the API work and BOS311 App

[2022-09-14 13:44] #2530 closed

[2022-09-14 13:58] stephaniemar commented on #2509
Work has been done/documented in Jira

[2022-09-14 13:58] #2509 closed

[2022-09-14 13:59] stephaniemar commented on #2490
Work has been completed documented in JIRA

[2022-09-14 13:59] #2490 closed

[2022-09-14 14:05] stephaniemar commented on #2481
@davidrkupton Can we close this ticket or do we need to move it to JIRA?

[2022-09-14 14:09] stephaniemar commented on #2430
@davidrkupton is this metrolist? Can it be closed?

[2022-09-14 15:00] stephaniemar commented on #2372
Closing this has project has been put on hold

[2022-09-14 15:00] #2372 closed

[2022-09-14 15:01] stephaniemar commented on #2371
Closing this has project has been put on hold

[2022-09-14 15:01] #2371 closed

[2022-09-14 15:01] stephaniemar commented on #2370
Closing this has project has been put on hold

[2022-09-14 15:01] #2370 closed

[2022-09-14 15:01] stephaniemar commented on #2368
Closing this has project has been put on hold

[2022-09-14 15:01] #2368 closed

[2022-09-14 15:01] stephaniemar commented on #2367
Closing this has project has been put on hold

[2022-09-14 15:01] #2367 closed

[2022-09-14 15:01] stephaniemar commented on #2364
Closing this has project has been put on hold

[2022-09-14 15:01] #2364 closed

[2022-09-14 15:01] stephaniemar commented on #2363
Closing this has project has been put on hold

[2022-09-14 15:01] #2363 closed

[2022-09-14 15:01] stephaniemar commented on #2362
Closing this has project has been put on hold

[2022-09-14 15:01] #2362 closed

[2022-09-14 15:02] stephaniemar commented on #2361
Closing this has project has been put on hold

[2022-09-14 15:02] #2361 closed

[2022-09-14 18:55] stephaniemar commented on #2358
Project on hold

[2022-09-14 18:55] #2358 closed

[2022-09-14 18:55] #2340 closed

[2022-09-14 18:55] #2339 closed

[2022-09-14 18:55] stephaniemar commented on #2338
This work has moved to JIRA

[2022-09-14 18:55] #2338 closed

[2022-09-14 18:56] stephaniemar commented on #2337
This work will be added to JIRA at a future date

[2022-09-14 18:56] #2337 closed

[2022-09-14 18:56] stephaniemar commented on #2334
@davidrkupton Do we need to move this to JIRA?

[2022-09-14 18:57] #2318 closed

[2022-09-14 18:57] stephaniemar commented on #2356
Project on hold

[2022-09-14 18:57] #2356 closed

[2022-09-14 18:57] #2276 closed

[2022-09-14 18:57] stephaniemar commented on #2268
Project on hold

[2022-09-14 18:57] #2268 closed

[2022-09-14 18:58] stephaniemar commented on #2238
Project on hold

[2022-09-14 18:58] #2238 closed

[2022-09-14 18:58] #2147 closed

[2022-09-14 18:59] #2129 closed

[2022-09-14 19:00] #2076 closed

[2022-09-14 19:06] #2065 closed

[2022-09-14 19:07] #2053 closed

[2022-09-14 19:07] #2049 closed

[2022-09-14 19:08] #2026 closed

[2022-09-14 19:08] #1899 closed

[2022-09-14 19:08] #1895 closed

[2022-09-14 19:09] #1822 closed

[2022-09-14 19:10] stephaniemar commented on #1806
@duffy-james Did you end up putting a ticket for this?

[2022-09-14 19:11] stephaniemar commented on #1795
@davidrkupton Do we need to move this to JIRA?

[2022-09-14 19:12] #1734 closed

[2022-09-14 19:12] #1080 closed

[2022-09-14 19:14] duffy-james commented on #1806
@stephaniemar I did not -- it looked like there was some work done on the issue, but I couldn't tell.

[2022-09-14 19:57] mattl commented on #2334
How do we access Jira as the general public? @stephaniemar

[2022-09-15 16:42] #2334 closed

[2022-09-15 16:46] davidrkupton commented on #2481
@stephaniemar
I think this is still an issue.
It can only be solved by FID enforcing email addresses on all accounts created.
You can raise this with Gretchen to see if that poicy has or is likely to be adopted.

[2022-09-15 16:48] davidrkupton commented on #2430
This is an issue with Abutters not Metrolist.
Both issues identified in the ticket still exist on prod.
We should move this to JIRA.

[2022-09-15 16:51] davidrkupton commented on #1795
@stephaniemar
This is still an issue, but we cannot do anything about it.
We can close.

[2022-09-15 17:33] stephaniemar commented on #2481
@davidrkupton IAM will be moving off of FID to Azure- will this still be an issue? Some accounts still will not have an email address.

[2022-09-15 17:34] stephaniemar commented on #1806
@subaha-cob Do you know if any work was done on this issue- should we move it to Jira?

[2022-09-15 17:35] #1795 closed

[2022-09-15 17:57] davidrkupton commented on #2481
Yes, the issue is that Drupal MUST have an email address to create
an account.
I can create a fake email address if needed, but if we ever implement
functionality in the website to email back to the user, it will obviously
fail for users with fake emails.
I think you can move this to JIRA.  We should address it.
D

On Thu, Sep 15, 2022 at 1:33 PM stephaniemar ***@***.***>
wrote:

--

[image: COB_B

[2022-09-15 17:58] stephaniemar commented on #2481
Ok. Gretchen is on vacation this week, I will send her a note about this for when she gets back.

[2022-09-15 18:14] subaha-cob commented on #1806
@stephaniemar @duffy-james Sorry I didn't reply the first time. This is still an issue but, I don't know if there is a fix for it. It is quite involved and I am not sure how easy it will be to fix. I am hoping the plugin owner will do an update that will fix it someday.

[2022-09-15 18:27] stephaniemar commented on #1806
I do not want to loose track of this - I can add a ticket to the backlog and make it a research spike? @duffy-james @davidrkupton @subaha-cob

[2022-09-15 18:28] duffy-james commented on #1806
@stephaniemar sounds good to me.

[2022-09-21 17:53] stephaniemar commented on #1806
https://bostondoit.atlassian.net/browse/DIG-1026

[2022-09-21 17:53] #1806 closed

[2022-09-21 17:58] stephaniemar commented on #2430
https://bostondoit.atlassian.net/browse/DIG-1027

[2022-09-21 17:58] #2430 closed

[2022-09-21 18:19] stephaniemar commented on #2481
https://bostondoit.atlassian.net/browse/DIG-1028

[2022-09-21 18:19] #2481 closed